{% extends 'general/master_page.html' %}

{% block title %} Materias {% endblock %}

{% block header %}Lista de materias{% endblock %}

{% block content %}

    <style>
        tr.lista_materia_eliminada {
            color: grey;
            font-style: italic;
        }

        span.white-space {
            margin: 0 5px;
        }
    .list-group-item {
        padding: 1px;
    }
    </style>

    <div class="row widget">
        <h3 class="col-sm-6">Materias</h3>
        {% if not request.session.role == 'STUDENT' %}
            <button class="btn btn-default pull-right" id="agregarMateria"><i class="fa fa-plus"></i> Nueva Materia
            </button>
        {% endif %}
        <br/>
        <br/>
        <table class="table table-hover table-condensed">
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Docentes</th>
                <th>&nbsp;</th>
            </tr>
            {% for materia in materias %}
                {% if materia.eliminada == False %}
                    <tr data-materia_id="{{ materia.id }}">
                        <td class="lista_materia_codigo">
                            {{ materia.codigo }}
                        </td>
                        <td class="lista_materia_nombre">
                            {{ materia.nombre }}
                        </td>
                        <td>
                            {% if materia.docentes.all|length > 0 %}
                                {% for docente in materia.docentes.all %}{{ docente.first_name }}
                                    {{ docente.last_name }}
                                    <br/>{% endfor %}
                            {% else %}
                                [No hay docentes asignados]
                            {% endif %}
                        </td>
                        <td>
                            <a href="/materia/{{ materia.codigo }}"><i class="fa fa-edit"></i>
                                Ver Detalles</a>
                            {% if request.session.role == 'ADMIN' %}
                                <span class="white-space"></span>
                                <a href="javascript:;" data-toggle="modal" class="cambiarDocentes">
                                    <i class="fa fa-users"></i> Cambiar docentes</a>
                                <span class="white-space"></span>
                                <a href="javascript:;" data-toggle="modal" class="eliminarMateria">
                                    <i class="fa fa-eye-slash"></i> Inhabilitar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    {% if request.session.role == 'ADMIN' %}
                        <tr class="lista_materia_eliminada" data-materia_id="{{ materia.id }}">
                            <td class="lista_materia_codigo">
                                {{ materia.codigo }}
                            </td>
                            <td class="lista_materia_nombre">
                                {{ materia.nombre }}
                            </td>
                            <td>
                                {% if materia.docentes.all|length > 0 %}
                                    {% for docente in materia.docentes.all %}{{ docente.first_name }}
                                        {{ docente.last_name }}
                                        <br/>{% endfor %}
                                {% else %}
                                    [No hay docentes asignados]
                                {% endif %}
                            </td>
                            <td>
                                <a href="javascript:;" class="recuperarMateria">
                                    <i class="fa fa-eye"></i> Habilitar</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#agregarMateria').click(function () {
                openModalTemplate(
                        'Nueva Materia',
                        'agregarMateria',
                        {},
                        {
                            Crear: {
                                className: 'btn btn-primary',
                                callback: function () {
                                    $('#errores').closest('.form-group').removeClass('bg-danger');
                                    $('#errores').html('');
                                    $.ajax('/nueva_materia/', {
                                        method: 'POST',
                                        data: {
                                            codigo: $('.nuevaMateria.field_codigo').val(),
                                            nombre: $('.nuevaMateria.field_nombre').val(),
                                            descripcion: $('.nuevaMateria.field_descripcion').val(),
                                        },
                                        dataType: 'json',
                                        success: function (response) {
                                            if (!response['valid']) {
                                                $('#errores').closest('.form-group').addClass('bg-danger');
                                                $.each(response['msg'], function (key, value) {
                                                    $('#errores').append("<p>" + value + "</p>");
                                                });
                                                return false;
                                            } else {
                                                window.location = '/materia/' + response['msg'];
                                                return true;
                                            }
                                        }
                                    });
                                    return false;
                                }
                            },
                            Cancelar: {
                                className: 'btn btn-default',
                                callback: function () {
                                }
                            }
                        }
                );
            });

            $(".eliminarMateria").click(function (e) {
                var materia = datosDeMateria(e.target);
                openModalTemplate(
                        'Inhabilitar Materia',
                        'eliminarMateria',
                        materia,
                        {
                            cancelar: {
                                className: 'btn btn-default',
                                callback: function () {
                                }
                            },
                            Inhabilitar: {
                                className: 'btn btn-primary',
                                callback: function () {
                                    $.ajax('/inhabilitar_materia/', {
                                        method: 'POST',
                                        data: {
                                            id: materia.id
                                        },
                                        dataType: 'json',
                                        success: function () {
                                            window.location = "/materias";
                                        }
                                    });
                                }
                            }
                        }
                );
            });

            $(".recuperarMateria").click(function (e) {
                var materia = datosDeMateria(e.target);
                $.ajax('/habilitar_materia/', {
                    method: 'POST',
                    data: {
                        id: materia.id
                    },
                    dataType: 'json',
                    success: function () {
                        window.location = "/materias";
                    }
                });
            });

            $(".cambiarDocentes").click(function (e) {
                var materia = datosDeMateria(e.target);
                $.ajax('/docentes_materia/', {
                    method: "GET",
                    data: {
                        id: materia.id
                    },
                    dataType: 'json',
                    success: function (data) {
                        docentesAsignados(materia, data);
                    }
                });
            });

            $(document).on('click', '.remover_docente', function () {
                var materia = $(this).data('materia_id');
                var docente = $(this).data('docente_id');
                asignacionDeDocentes(materia, docente, 'REMOVE');
                $(this).closest('li').fadeOut();
            });

        });

        function datosDeMateria(target) {
            var materia = {
                id: 0,
                codigo: 0,
                nombre: ''
            };
            var $tr = $(target).closest('tr');
            materia.id = $tr.data('materia_id');
            materia.codigo = $tr.find('td.lista_materia_codigo').first().text();
            materia.nombre = $tr.find('td.lista_materia_nombre').first().text();
            return materia;
        }

        function docentesAsignados(materia, docentes) {
            openModalTemplate(
                    'Docentes asignados',
                    'cambiarDocentes',
                    {materia: materia, docentes: docentes},
                    {
                        Asignar: {
                            className: 'btn btn-primary',
                            callback: function () {
                                var $elem = $('#asignarDocente');
                                asignacionDeDocentes($elem.data('materia_id'), $elem.val(), 'ADD');
                            }
                        },
                        Cerrar: {
                            className: 'btn btn-default',
                            callback: function () {
                                window.location = '/materias/';
                            }
                        },
                    }
            );
        }

        function asignacionDeDocentes(materia_id, docente_id, accion) {
            $.ajax('/docente/', {
                method: "POST",
                data: {
                    materia_id: materia_id,
                    docente_id: docente_id,
                    accion: accion
                },
                dataType: 'json',
                success: function (response) {
                    if (response['updated']) {
                        if (accion == 'ADD')
                            window.location = '/materias/';
                        else
                            msgSuccess('Desasignacion del docente', 'El docente ha sido desasignado satisfactoriamente.');
                    } else {
                        msgError('No se pudo asignar/desasignar docente');
                    }
                }
            });
        }

    </script>

    <!-- HB Templates -->
    {% verbatim %}

    <script id="eliminarMateria" class="handlebars-template" type="text/x-handlebars-template">
        <div class="modal-body">
            Realmente quiere inhabilitar el acceso a la materia "<b>{{nombre}}</b>"?
            <br/>
            <i>Una vez inhabilitada la materia se bloquea el acceso a las evaluaciones de la misma.</i>
        </div>
    </script>

    <script id="cambiarDocentes" class="handlebars-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <label>Materia {{materia.nombre}} (c&oacute;digo: {{materia.codigo}})</label>
            <ul class="list-group">
                {{#each docentes.asignados}}
                <li class="list-group-item">
                    <span class="remover_docente btn btn-default" data-docente_id="{{id}}"
                          data-materia_id="{{@root.materia.id}}"><i class="fa fa-times"></i></span> {{last_name}}
                    {{first_name}}
                </li>
                {{/each}}
            </ul>
            <hr/>
            <label for="asignarDocente" class="control-label">Agregar docente: </label>
            <select id="asignarDocente" class="form-control" data-materia_id="{{materia.id}}">
                {{#each docentes.otros}}
                <option value="{{id}}">
                    {{last_name}} {{first_name}}
                </option>
                {{/each}}
            </select>
        </div>
    </script>

    <script id="agregarMateria" class="handlebars-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="control-label">Nombre:</label>
                    <input
                            type="text"
                            value=""
                            class="form-control nuevaMateria field_nombre"
                            placeholder="Nombre de Materia">
                </div>
                <div class="col-sm-12 form-group">
                    <label class="control-label">C&oacute;digo:</label>
                    <input
                            type="text"
                            value=""
                            class="form-control nuevaMateria field_codigo"
                            placeholder="####">
                </div>
                <div class="col-sm-12 form-group">
                    <label class="control-label">Descripci&oacute;n:</label>
                    <textarea
                            class="form-control nuevaMateria field_descripcion"
                            placeholder="Detalles..."></textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <span class="help-block" id="errores"></span>
                </div>
            </div>
        </div>
    </script>
    {% endverbatim %}
    <!-- end: HB Templates -->
{% endblock %}