{% extends 'general/master_page.html' %}

{% block title %} Materias {% endblock %}

{% block header %}Lista de materias{% endblock %}

{% block content %}

    <div class="row widget">
        <h3 class="col-sm-12">
            <small><label class="control-label">Nombre de materia:</label></small>
            {% if puede_editar %}
                <input
                        type="text"
                        value="{{ materia.nombre }}"
                        class="editable form-control"
                        data-field="nombre"
                        placeholder="Nombre de Materia">
            {% else %}
                {{ materia.nombre }}
            {% endif %}
        </h3>
        <h3>
            <small><i>C&oacute;digo de materia: {{ materia.codigo }}</i></small>
        </h3>
        <hr/>
        {% if puede_editar %}
            <textarea
                    class="editable form-control" data-field="descripcion" placeholder="Descripcion de Materia"
            >{{ materia.descripcion }}</textarea>
        {% else %}
            <p>{{ materia.descripcion }}</p>
        {% endif %}
        <hr/>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#temas" aria-controls="temas" role="tab"
                                                          data-toggle="tab">Temas</a></li>
                <li role="presentation"><a href="#evaluaciones" aria-controls="evaluaciones" role="tab"
                                           data-toggle="tab">Evaluaciones</a></li>
                {% if puede_editar %}
                    <li role="presentation"><a href="#alumnos" aria-controls="alumnos" role="tab"
                                               data-toggle="tab">Alumnos</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="temas">
                    {% if puede_editar %}
                        <br/>
                        <a class="btn btn-default pull-right" href="javascript:;" id="agregar_tema"><i
                                class="fa fa-plus"></i> Agregar Tema</a>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody class="lista_temas">
                        {% for tema in temas %}
                            <tr data-tema_id="{{ tema.id }}">
                                {% if puede_editar %}
                                    <td><input
                                            value="{{ tema.nombre }}"
                                            type="text"
                                            class="form-control editable"
                                            data-field="tema"
                                            data-tema_field="nombre"
                                    ></td>
                                    <td>
                                    <textarea
                                            class="form-control editable"
                                            data-field="tema"
                                            data-tema_field="descripcion"
                                    >{{ tema.descripcion }}</textarea>
                                    </td>
                                {% else %}
                                    <td>{{ tema.nombre }}</td>
                                    <td>{{ tema.descripcion }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="evaluaciones">

                    {% if evaluaciones %}
                        <table class="table table-hover">
                            <tr>
                                <th>Evaluaci&oacute;n</th>
                                <th>Materia</th>
                                <th>Comienzo</th>
                                <th>Duraci&oacute;n</th>
                                {% if not request.session.role == 'STUDENT' %}
                                    <th>&nbsp;</th>
                                {% endif %}
                                <th>&nbsp;</th>
                            </tr>
                            {% for evaluacion in evaluaciones %}
                                <tr>
                                    <td>
                                        {{ evaluacion.nombre }}
                                    </td>
                                    <td>
                                        {{ evaluacion.materia.nombre }} ({{ evaluacion.materia.codigo }})
                                    </td>
                                    <td>
                                        {{ evaluacion.fecha_hora_comienzo }}
                                    </td>
                                    <td>
                                        {{ evaluacion.duracion_minutos }} minutos
                                    </td>
                                    {% if not request.session.role == 'STUDENT' %}
                                        <td>
                                            <a href="/evaluacion/ver/{{ evaluacion.id }}"><i class="fa fa-eye"></i> Ver</a>
                                        </td>
                                        <td>
                                            <a href="/asignar_evaluacion/{{ evaluacion.id }}"><i class="fa fa-eye"></i>
                                                Asignar a los alumnos</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="javascript:;" data-evaluacion_id="{{ evaluacion.id }}"
                                               class="comenzar_evaluacion"><i class="fa fa-eye"></i> Comenzar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                </div>
                {% if puede_editar %}
                    <div role="tabpanel" class="tab-pane fade" id="alumnos">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre completo</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alumno in alumnos %}
                                <tr data-alumno_id="{{ alumno.id }}">
                                    <td>{{ alumno.first_name }} {{ alumno.last_name }}</td>
                                    <td>{{ alumno.email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {

            {% if puede_editar %}
                $('#agregar_tema').click(function () {
                    var materia_id = {{ materia.id }};
                    openModalTemplate(
                            'Agregar Tema',
                            'agregarTema',
                            {},
                            {
                                cancelar: {
                                    className: 'btn btn-default',
                                    callback: function () {
                                    }
                                },
                                Agregar: {
                                    className: 'btn btn-primary',
                                    callback: function () {
                                        var nombre = $('#agregarTemaNombre').val();
                                        var descripcion = $('#agregarTemaDescripcion').val();
                                        if (nombre) {
                                            $.ajax('/agregar_tema/', {
                                                method: 'POST',
                                                data: {
                                                    id: materia_id,
                                                    nombre: nombre,
                                                    descripcion: descripcion
                                                },
                                                dataType: 'json',
                                                success: function (data) {
                                                    $('.lista_temas').append(render('temaRow', {tema: data}));
                                                    msgSuccess('Nuevo Tema', 'El tema ' + nombre + ' ha sido agregado.');
                                                }
                                            });
                                        } else {
                                            msgError('El nombre del tema es requerido.');
                                            return false;
                                        }

                                    }
                                }
                            }
                    );
                });

                $(document).delegate('.editable', 'change', function () {
                    var value = $(this).val();
                    var field = $(this).data('field');
                    var id = {{ materia.id }};
                    var object = 'MATERIA';
                    if (field == 'tema') {
                        object = 'TEMA';
                        id = $(this).closest('tr').data('tema_id');
                        field = $(this).data('tema_field')
                    }
                    $.ajax('/editar_materia/', {
                        method: 'POST',
                        data: {
                            entity: object,
                            value: value,
                            field: field,
                            id: id
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response['saved'])
                                msgSuccess('Cambios guardados', 'El campo ' + field + ' ha sido actualizado.');
                            else
                                msgError('No se pudo editar el campo ' + field)
                        }
                    });
                });
            {% endif %}

            $(".cambiarDocentes").click(function (e) {
                var materia = datosDeMateria(e.target);
                $.ajax('/docentes_materia/', {
                    method: "GET",
                    data: {
                        id: materia.id
                    },
                    dataType: 'json',
                    success: function (data) {
                        openModalTemplate(
                                'Docentes asignados',
                                'cambiarDocentes',
                                {materia: materia, docentes: data},
                                {
                                    Cerrar: {
                                        className: 'btn btn-default',
                                        callback: function () {
                                        }
                                    },
                                }
                        );
                    }
                });
            })

            $(".asignarDocente").click(function (e) {
                e.preventDefault();
                $("#asignarDocente_materia_id").val($(this).attr('data-materia_id'));
                $("#asignarDocente_codigo").html($(this).attr('data-materia_codigo'));
                $("#asignarDocente_nombre").html($(this).attr('data-materia_nombre'));
            });
        });

        function datosDeMateria(target) {
            var materia = {
                id: 0,
                codigo: 0,
                nombre: ''
            };
            var $tr = $(target).closest('tr');
            materia.id = $tr.data('materia_id');
            materia.codigo = $tr.find('td.lista_materia_codigo').first().text();
            materia.nombre = $tr.find('td.lista_materia_nombre').first().text();
            return materia;
        }

    </script>

    <!-- HB Templates -->
    {% verbatim %}

    <script id="agregarTema" class="handlebars-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">* Nombre del tema:</label>
                <input class="form-control" type="text" id="agregarTemaNombre" value=""/>
            </div>
            <div class="form-group">
                <label class="control-label">Descripcion [opcional]</label>
                <textarea class="form-control" id="agregarTemaDescripcion"></textarea>
            </div>
        </div>
    </script>

    <script id="temaRow" class="handlebars-template" type="text/x-handlebars-template">
        <tr data-tema_id="{{tema.id}}">
            <td><input
                    value="{{tema.nombre}}"
                    type="text"
                    class="form-control editable"
                    data-field="tema"
                    data-tema_field="nombre"
            ></td>
            <td>
                <textarea
                        class="form-control editable"
                        data-field="tema"
                        data-tema_field="descripcion"
                >{{tema.descripcion}}</textarea>
            </td>
        </tr>
    </script>

    <script id="cambiarDocentes" class="handlebars-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <label>Materia {{materia.nombre}} (c&oacute;digo: {{materia.codigo}})</label>
            <ul class="list-group">
                {{#each docentes.asignados}}
                <li class="list-group-item">
                    <span class="remover_docente btn btn-default" data-user_id="{{id}}"><i
                            class="fa fa-times"></i></span> {{last_name}}
                    {{first_name}}
                </li>
                {{/each}}
            </ul>
            <hr/>
            <label for="asignarDocente" class="control-label">Agregar docente: </label>
            <select id="asignarDocente" class="form-control">
                {{#each docentes.otros}}
                <option value="{{id}}">
                    {{last_name}} {{first_name}}
                </option>
                {{/each}}
            </select>
        </div>
    </script>

    {% endverbatim %}
    <!-- end: HB Templates -->
{% endblock %}