<select class="form-control pregunta"
        data-pregunta_id="{{ pregunta.id }}"
        data-tipo_pregunta="3">
        <option value=""></option>
    {% for respuesta in respuestas %}
        <option value="{{ respuesta.id }}"
                {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == respuesta.id %}
                selected="selected"
                {% endif %}
        >{{ respuesta.descripcion }}</option>
    {% endfor %}
</select>