<div class="form-control">
    <span class="col-sm-6"><input
            {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == respuesta.0.id %}checked="checked"{% endif %}
            class="pregunta" type="radio"
            name="{{ pregunta.id }}"
            data-respuesta_id="{{ respuesta.0.id }}"
            data-pregunta_id="{{ pregunta.id }}"
            id="{{ respuesta.0.id }}"
            data-tipo_pregunta="4"> <label style="font-weight: 100;" for="{{ respuesta.0.id }}"> {{ respuesta.0.descripcion }}</label>
    </span>
    <span class="col-sm-6"><input
            {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == respuesta.1.id %}checked="checked"{% endif %}
            class="pregunta" type="radio"
            name="{{ pregunta.id }}"
            data-respuesta_id="{{ respuesta.1.id }}"
            data-pregunta_id="{{ pregunta.id }}"
            id="{{ respuesta.1.id }}"
            data-tipo_pregunta="4"> <label style="font-weight: 100;" for="{{ respuesta.1.id }}"> {{ respuesta.1.descripcion }}</label>
    </span>
</div>