{% load my_tags %}
<hr />
{% if preguntas.1|length > 0 or preguntas.2|length > 0 or preguntas.3|length > 0 or preguntas.0|length > 0 %}
<form action="/nueva_evaluacion/crear/" method="POST" class="form-horizontal">
	<input type="hidden" name="inputMateria" value="{{ materia }}">
	<div class="form-group">
		<label for="inputName" class="col-sm-offset-1 col-sm-4 control-label">Nombre de evaluaci&oacute;n</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="inputName" placeholder="Nombre">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDate" class="col-sm-offset-1 col-sm-4 control-label">Fecha de la evaluaci&oacute;n</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="inputDate">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDate" class="col-sm-offset-1 col-sm-4 control-label">Hora de la evaluacion</label>
		<div class="col-sm-6">
			<div class="form-control">
				<select name="inputHour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>&nbsp;:
				<select name="inputMinute">
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputDate" class="col-sm-offset-1 col-sm-4 control-label">Tiempo m&aacute;ximo de duraci&oacute;n (min)</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="inputMaxMinutes" max="1440" min="1" value="60">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDate" class="col-sm-offset-1 col-sm-4 control-label">Acepta entrega tadr&iacute;a</label>
		<div class="col-sm-6">
			<select name="inputAccept" class="form-control">
				<option value="1">SI</option>
				<option value="0">NO</option>
			</select>
		</div>
	</div>
	<br />
	<br />
	<hr />
	<input name="temas" hidden="" value="{{ temas }}">
	<label class="control-label" style="color: #931328 !important;"><i>* La cantidad de preguntas estar&aacute; sujeta a la disponibilidad de las mismas, teniendo en cuenta la posibilidad de preguntas incompatibles.</i></label><br><br>
	{% for tipo in tipos %}
	<div class="form-group">
	<label for="inputDate" class="col-sm-6 control-label">Cantidad de preguntas de tipo "{{ tipo.tipo }}": <span id="tipo{{ tipo.id }}"></span></label>
		<div class="col-sm-3">
			<input name="tipo{{ tipo.id }}" class="range form-control" type="range" value="{{ preguntas|lookup:tipo.id|length }}" min="0" max="{{ preguntas|lookup:tipo.id|length }}" step="1" />
		</div>
	</div>
	{% endfor %}
	{% csrf_token %}
	<div class="col-sm-offset-9 col-sm-3">
	<input type="submit" value="Generar evaluacion" class="btn btn-primary">
	</div>
</form>
<script>
	$(document).ready(function(){
		$('.range').each(function(){
			$("#" + $( this ).attr('name')).html($( this ).val());
		});

		// --- On Change
		$('.range').change(function(){
			$("#" + $( this ).attr('name')).html($( this ).val());
		});

		// --- Datepicker
		$('input[name="inputDate"]').datepicker({
			format: "dd/mm/yyyy",
			startDate: "0d",
			todayBtn: "linked",
			language: "es",
			multidate: false,
			calendarWeeks: true,
			autoclose: true,
			todayHighlight: true
		});
	});
</script>
{% else %}
<br />
<div class="alert alert-warning" role="alert">Este/estos tema/s no tiene/n preguntas.</div>
{% endif %}