{% extends 'general/master_page.html' %}

{% block title %} Evaluaci&oacute;n {% endblock %}

{% load my_tags %}
{% block content %}
    <style>
    .correcta {
        color: #2b542c;
    }
    .incorrecta {
        color: #cc1111;
    }
    </style>

    <button class="btn btn-default pull-right top-button no-print" id="exportar">
        <i class="fa fa-print"></i> Imprimir / Exportar
    </button>
    <button class="mostrar btn btn-default pull-right top-button no-print" style="margin-right: 5px;" id="correccion">
        <i class="fa fa-eye"></i> Mostrar correcciones
    </button>
    <div class="row widget">
        <h3>{{ evaluacion.nombre }} <small>
            <i class="no-print">(Nota aproximada {{ evaluacion_alumno.nota_final|default_if_none:"....." }} )</i>
            <i class="only-print">(Nota final: ___________ )</i>
        </small>
        <br />
        <small>Alumno/a: {{ evaluacion_alumno.usuario.first_name }} {{ evaluacion_alumno.usuario.last_name }}</small>
        <br />
        <small>Fecha/hora Comienzo: {{ evaluacion_alumno.fecha_hora_comienzo|date:"H:i (d/m/Y)"|default:"....." }}</small>
        <br />
        <small>Fecha/hora Final: {{ evaluacion_alumno.fecha_hora_final|date:"H:i (d/m/Y)"|default:"....." }}</small>
        </h3>
        <br><br>
        <ol>
            {% for tipo in tipos %}
                {% if preguntas|lookup:tipo.id|length > 0 %}
                    <li><h4>{{ tipo.enunciado }}</h4>
                        <ol type="a">
                            {% for pregunta in preguntas|lookup:tipo.id %}
                                <li style="margin-top: 15px; margin-bottom: 15px;">
                                    {{ pregunta.descripcion }}
                                    <br/><img src="{{ pregunta.urlImagen }}" class="img-responsive">
                                        <br>
                                    {% if tipo.id == 1 %}
                                        {% include "evaluaciones/respuestas/desarrollo.html" with pregunta=pregunta respuesta_alumno=pregunta.respuesta_alumno only %}
                                    {% endif %}
                                    {% if tipo.id == 2 %}
                                        {% include "evaluaciones/respuestas/seleccion_multiple.html" with pregunta=pregunta respuesta_alumno=pregunta.respuesta_alumno only %}
                                    {% endif %}
                                    {% if tipo.id == 3 %}
                                        {% include "evaluaciones/respuestas/unir_conceptos.html" with pregunta=pregunta respuesta_alumno=pregunta.respuesta_alumno only %}
                                    {% endif %}
                                    {% if tipo.id == 4 %}
                                        {% include "evaluaciones/respuestas/verdadero_falso.html" with pregunta=pregunta respuesta_alumno=pregunta.respuesta_alumno only %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </li>
                    <hr/>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

    <script>
        $(document).ready(function(){
            $('correcta').each(function(){
                $(this).replaceWith('<i class="fa fa-check corrector correcta"></i>');
            });
            $('incorrecta').each(function(){
                $(this).replaceWith('<i class="fa fa-times corrector incorrecta"></i>');
            });
            $('.corrector').hide();
            $('#correccion').click(function(){
                var $this = $(this);
                if($this.hasClass('mostrar')){
                    $('.corrector').show();
                    $this.removeClass('mostrar');
                    $this.html('<i class="fa fa-eye-slash"></i> Ocultar correcciones');
                }else{
                    $('.corrector').hide();
                    $this.addClass('mostrar');
                    $this.html('<i class="fa fa-eye"></i> Mostrar correcciones');
                }
            });

            $('#exportar').click(function () {
                window.print();
            });
        });
    </script>
{% endblock %}
