{% extends 'general/master_page.html' %}

{% block title %} Examenes {% endblock %}

{% block header %}Lista de preguntas{% endblock %}

{% block content %} 
<div class="row widget">
	{% if not request.session.role == 'STUDENT' %}
		<a class="btn btn-primary" href="/nueva_evaluacion/">Generar evaluaci&oacute;n</a>
		<br /><br />
	{% endif %}
	{% if evaluaciones %}
	<table class="table table-hover">
		<tr>
			<th>Evaluaci&oacute;n</th>
			<th>Materia</th>
			<th>Comienzo</th>
			<th>Duraci&oacute;n</th>
			{% if not request.session.role == 'STUDENT' %}
			<th>&nbsp;</th>
			{% endif %}
			<th>&nbsp;</th>
		</tr>
		{% for evaluacion in evaluaciones %}
		<tr>
			<td>
				{{ evaluacion.nombre }}
			</td>
			<td>
				{{ evaluacion.materia.nombre }} ({{ evaluacion.materia.codigo }})
			</td>
			<td>
				{{ evaluacion.fecha_hora_comienzo }}
			</td>
			<td>
				{{ evaluacion.duracion_minutos }} minutos
			</td>
			{% if not request.session.role == 'STUDENT' %}
			<td>
				<a href="/evaluacion/ver/{{ evaluacion.id }}"><i class="fa fa-eye"></i> Ver</a>
			</td>
			<td>
				<a href="/asignar_evaluacion/{{ evaluacion.id }}"><i class="fa fa-eye"></i> Asignar a los alumnos</a>
			</td>
			{% else %}
			<td>
				<a href="javascript:;" data-evaluacion_id="{{ evaluacion.id }}" class="comenzar_evaluacion"><i class="fa fa-eye"></i> Comenzar</a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>


<script>
	$(document).ready(function(){
		$('.comenzar_evaluacion').click(function(){
			var evaluacion_id = $(this).data('evaluacion_id');
			swal({
				title: "Está seguro de comenzar la evaluación?",
				text: "Una vez comenzada la evaluación, se registrará la fecha y hora para controlar la duración de la misma",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				cancelButtonText: "Cancelar",
				confirmButtonText: "Sí, comenzar!",
				closeOnConfirm: false
			}, function(){
				window.location = '/evaluacion/comenzar/'+evaluacion_id;
			});
		});
	});
	
</script>
{% endblock %}
