{% extends 'general/master_page.html' %}

{% block title %} Examenes {% endblock %}

{% block header %}Lista de preguntas{% endblock %}

{% block content %} 
<div class="row widget">
	<div class="form-group">
		<label class="col-sm-1 control-label">Materia </label>
		<div class="col-sm-6">
		<select class="form-control" id="materias">
		{% for materia in materias %}
				<option value="{{ materia.id}}">{{ materia.nombre }}</option>
		{% endfor %}
		</select>
		</div>
	</div>
	<br />
	<div id="temas_div"></div>
	<div id="configuraciones_div"></div>
</div>

<script>
	$(document).ready(function(){
		{% if materias %}
			$("#temas_div").html(loader).load("/evaluaciones/temas_materia_checkbox/{{ materias.0.id}}");
		{% endif %}
		$("#materias").change(function(){
			$("#configuraciones_div").html("");
			$("#temas_div").html(loader).load("/evaluaciones/temas_materia_checkbox/" + $(this).val());
		});
	});
	
</script>
{% endblock %}
