{% extends 'general/master_page.html' %}

{% block title %} Examenes {% endblock %}

{% block header %}Lista de preguntas{% endblock %}
{% load my_tags %}
{% block content %}
    <button class="btn btn-default pull-right top-button no-print" id="exportar">
        <i class="fa fa-print"></i> Imprimir / Exportar
    </button>
    <div class="row widget">
        <div class="row">
            <h3 class="col-sm-6">{{ evaluacion.nombre }}</h3>
            <div class="only-print">
                <p>Nombre y Apellido: _________________________</p>
                <p>Fecha: ____/_______/_______</p>
            </div>
        </div>
        <hr>
        <ol>
            {% for tipo in tipos %}
                {% if preguntas|lookup:tipo.id|length > 0 %}
                    <li><h4>{{ tipo.enunciado }}</h4>
                        <ol type="a">
                            {% for pregunta in preguntas|lookup:tipo.id %}
                                {% if tipo.id == 1 %}
                                    <li style="margin-top: 15px; margin-bottom: 15px;">
                                        {{ pregunta.0.descripcion }}
                                        <br/><img src="{{ pregunta.0.urlImagen }}" class="img-responsive">
                                        <br>
                                        {% include "evaluaciones/preview/desarrollo.html" with pregunta=pregunta.0 only %}
                                    </li>
                                {% endif %}
                                {% if tipo.id == 2 %}
                                    <li style="margin-top: 15px; margin-bottom: 15px;">
                                        {{ pregunta.0.descripcion }}
                                        <br/><img src="{{ pregunta.0.urlImagen }}" class="img-responsive">
                                        <br>
                                        {% include "evaluaciones/preview/seleccion_multiple.html" with respuestas=pregunta.1 only %}
                                    </li>
                                {% endif %}
                                {% if tipo.id == 3 %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <li>
                                                ) {{ pregunta.0.descripcion }}
                                                <br/><img src="{{ pregunta.0.urlImagen }}" class="img-responsive">
                                            </li>
                                        </div>
                                        {% include "evaluaciones/preview/unir_conceptos.html" with pregunta=pregunta.0 respuesta=respuestas_join|lookup:forloop.counter only %}
                                    </div>
                                {% endif %}
                                {% if tipo.id == 4 %}
                                    <li style="margin-top: 15px; margin-bottom: 15px;">
                                        {{ pregunta.0.descripcion }}
                                        <br/><img src="{{ pregunta.0.urlImagen }}" class="img-responsive">
                                        <br>
                                        {% include "evaluaciones/preview/verdadero_falso.html" with respuestas=pregunta.1 only %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </li>
                    <hr/>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

    <script>
        $(document).ready(function () {
            $('#exportar').click(function () {
                window.print();
            });
        });
    </script>
{% endblock %}
