{% extends 'general/master_page.html' %}

{% block title %} Evaluaci&oacute;n {% endblock %}

{% block header %}{% endblock %}
{% load my_tags %}
{% block content %}
    <div class="row widget">
        {% if request.session.role == 'STUDENT' %}
            <div style="float: right; font-weight: bold; color: #901630;"><i><span
                    id="minutos_restantes">{{ timeremind }}</span> minutos restantes.</i><br/><span class="info"></span>
            </div>
            <br/>
        {% endif %}
        <h3>{{ evaluacion.nombre }}</h3>
        <br><br>
        <ol>
            {% for tipo in tipos %}
                {% if preguntas|lookup:tipo.id|length > 0 %}
                    <li><h4>{{ tipo.enunciado }}</h4>
                        <ol type="a">
                            {% for pregunta in preguntas|lookup:tipo.id %}
                                <li style="margin-top: 15px; margin-bottom: 15px;">
                                    {{ pregunta.0.descripcion }}
                                    <br/><img src="{{ pregunta.0.urlImagen }}" class="img-responsive">
                                    <br>
                                    {% if tipo.id == 1 %}
                                        {% include "evaluaciones/preguntas/desarrollo.html" with pregunta=pregunta.0 respuesta_alumno=pregunta.2 only %}
                                    {% endif %}
                                    {% if tipo.id == 2 %}
                                        {% include "evaluaciones/preguntas/seleccion_multiple.html" with pregunta=pregunta.0 respuestas=pregunta.1 respuestas_alumno=pregunta.2 only %}
                                    {% endif %}
                                    {% if tipo.id == 3 %}
                                        {% include "evaluaciones/preguntas/unir_conceptos.html" with pregunta=pregunta.0 respuestas=respuestas_join respuesta_alumno=pregunta.2 only %}
                                    {% endif %}
                                    {% if tipo.id == 4 %}
                                        {% include "evaluaciones/preguntas/verdadero_falso.html" with pregunta=pregunta.0 respuesta=pregunta.1 respuesta_alumno=pregunta.2 only %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </li>
                    <hr/>
                {% endif %}
            {% endfor %}
        </ol>
        {% if request.session.role == 'STUDENT' %}
            <button id="resolver" class="btn btn-primary">Enviar Respuestas</button>
        {% endif %}
    </div>

    <script>
        $(document).ready(function () {

            $('#resolver').click(function () {
                var respuestas = collectData();
                $.ajax('/evaluacion/resolver/{{ evaluacion.id }}', {
                    data: JSON.stringify({'preguntas': respuestas}),
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (response) {
                        var nota = response['nota'];
                        swal('Resultado aproximado', 'Respuestas correctas: ' + nota + '%');
                    }
                });
            });

            function collectData() {
                var dataArr = [];
                var data = {};
                $('.pregunta').each(function () {
                    data = {};
                    var tipo_pregunta = $(this).data('tipo_pregunta');
                    var pregunta_id = $(this).data('pregunta_id');
                    switch (tipo_pregunta) {
                        case 1: //Desarrollo
                            data[pregunta_id] = {
                                id: pregunta_id,
                                respuestas: [],
                                texto: $(this).val(),
                                tipo: 1
                            }
                            dataArr.push(data);
                            break;
                        case 2:
                            if ($(this).is(":checked")) {
                                if (data[pregunta_id] == undefined) {
                                    data[pregunta_id] = {
                                        id: pregunta_id,
                                        respuestas: [],
                                        texto: '',
                                        tipo: 2
                                    };
                                }
                                data[pregunta_id]['respuestas'].push($(this).data('respuesta_id'));
                                dataArr.push(data);
                            }
                            break;
                        case 3:
                            if ($(this).val() !== '') {
                                data[pregunta_id] = {
                                    id: pregunta_id,
                                    respuestas: [$(this).val()],
                                    texto: '',
                                    tipo: 3
                                };
                                dataArr.push(data);
                            }
                            break;
                        case 4:
                            if ($(this).is(':checked')) {
                                data[pregunta_id] = {
                                    id: pregunta_id,
                                    respuestas: [$(this).data('respuesta_id')],
                                    texto: '',
                                    tipo: 4
                                };
                                dataArr.push(data);
                            }
                            break;
                    }
                });
                return dataArr;
            }

            if ($('#minutos_restantes').html() > 0) {
                setInterval(function () {
                    var current = $('#minutos_restantes').html();
                    if (current > 0) {
                        $('#minutos_restantes').html(current - 1);
                    } else {
                        $('#minutos_restantes').html(0);
                        if ('{{ evaluacion.acepta_entrega_tardia }}' == 'False') {
                            $('#minutos_restantes').closest('div').find('.info').html('Dicha evaluación no será aceptada.')
                        }
                    }
                }, 1000 * 60 * 1);
            } else {
                if ('{{ evaluacion.acepta_entrega_tardia }}' == 'False') {
                    $('#minutos_restantes').closest('div').find('.info').html('Dicha evaluación no será aceptada.');
                }
            }

        });


    </script>
{% endblock %}
