{% load staticfiles %}
<link rel="icon" type="image/x-icon" href="{% static 'img/unla.ico' %}">

<!-- start: Fonts & CSS -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<!-- end: Fonts & CSS -->


<!-- start: JS -->
<!--[if !IE]>-->
<script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.0.min.js' %}"></script>
<!--<![endif]-->

<!--[if IE]>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-1.11.0.min.js' %}"></script>
    <![endif]-->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/ie/html5shiv.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie/respond.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie/ie9.css' %}">
    <![endif]-->
<!-- end: JS -->

<!-- handlebarsJS -->
<script type="text/javascript" src="{% static 'lib/handlebars/handlebars-v4.0.5.js' %}"></script>

<!-- momentJS -->
<script type="text/javascript" src="{% static 'lib/moment/moment-with-langs.js' %}"></script>

<!-- dataTables -->
<script type="text/javascript" src="{% static 'lib/datatables/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/datatables/jquery.dataTables.min.css' %}">

<!-- bootstrap -->
<script type="text/javascript" src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap/dataTables.bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap/jquery.processForm.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/bootstrapValidator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/dataTables.bootstrap.css' %}">

<!-- select2 -->
<script type="text/javascript" src="{% static 'lib/select2/select2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/select2/select2.css' %}">

<!-- sweetalert -->
<script type="text/javascript" src="{% static 'lib/swal/sweet-alert.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/swal/sweet-alert.css' %}">

<!-- pnotify -->
<script type="text/javascript" src="{% static 'lib/pnotify/pnotify.custom.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/pnotify/pnotify.custom.min.css' %}">

<!-- theme scripts -->
<script type="text/javascript" src="{% static 'js/core.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<style>
    .top-button {
        margin-top: 5px;
    }

    .only-print {
        display: none;
    }

    .list_trello_tasks {
        max-height: 60vh;
        height: 60vh;
        overflow-y: auto;
    }

    .table.table-condensed > thead > tr > th, .table.table-condensed > tbody > tr > th,
    .table.table-condensed > tfoot > tr > th {
        padding-left: 2px;
        padding-right: 2px;
    }

    .table.table-condensed > thead > tr > td,
    .table.table-condensed > tbody > tr > td, .table.table-condensed > tfoot > tr > td {
        padding: 2px;
    }

    .table.table-condensed input[type=text] {
        height: 22px;
        padding: 4px 6px;
        font-size: 13px;
    }

    .modalLarge > .modal-dialog {
        width: 90% !important;
    }

    .modal-header {
        background-color: #931328;
        color: #FFFFFF !important;
    }

    @media print {
        .no-print, .no-print * {
            display: none !important;
        }

        .page-content {
            width: 100% !important;
            min-width: 1000px !important;
        }

        .only-print {
            display: inline-block;
        }
    }
</style>

<script>

</script>