{% load staticfiles %}
{% load dry %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8"/>
    <title>AAEV - {% block title %}{% endblock %}</title>
    <meta name="description" content="Sistema de Autoevaluaciones"/>
    <meta name="author" content="V.Khusnulina"/>
    <!-- end: Meta -->

    <!-- start: Assets -->
    {% include 'general/assets.html' %}
    <!-- end: Assets -->

</head>
<body>
<!-- start: Main -->
<div id="wrapper">

    <!-- start: Main Menu (#sidebar-wrapper) -->
    <div id="sidebar-wrapper" class="no-print">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="/"><img class="center-block" alt="UNLa"
                                                       src="{% static 'img/logo_unla.png' %}"></a></li>
            <li>
                <a href="/">
                    <i class="fa fa-university"></i> Escritorio
                </a>
            </li>
            {% if request.session.is_auth %}


                {% if not request.session.role == 'STUDENT' %}
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#toggleUsuarios"
                           data-parent="#sidenav02" class="collapsed">
                            <i class="fa fa-users"></i> Usuarios <i class="fa fa-caret-down pull-right"></i>
                        </a>
                        <div class="collapse" id="toggleUsuarios" style="height: 0px;">
                            <ul class="">
                                {% if request.session.role == 'ADMIN' %}
                                    <li><a href="/profesores">Profesores</a></li>
                                {% endif %}
                                <li><a href="/alumnos">Alumnos</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#toggleMaterias" data-parent="#sidenav02"
                       class="collapsed">
                        <i class="fa fa-book"></i> Materias <i class="fa fa-caret-down pull-right"></i>
                    </a>
                    <div class="collapse" id="toggleMaterias" style="height: 0px;">
                        <ul>
                            <li><a href="/materias">Listar materias</a></li>
                            {% if not request.session.role == 'STUDENT' %}
                                <li><a href="/preguntas">Listar preguntas</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#toggleEvaluaciones"
                       data-parent="#sidenav03" class="collapsed">
                        <i class="fa fa-file-text-o"></i> Evaluaciones <i class="fa fa-caret-down pull-right"></i>
                    </a>
                    <div class="collapse" id="toggleEvaluaciones" style="height: 0px;">
                        <ul>
                            <li><a href="/evaluaciones">Listar evaluaciones</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <!--<li>
                <a href="/">
                    <i class="glyphicon glyphicon-question-sign"></i> Ayuda
                </a>
            </li>-->
        </ul>

        <div class="sidebar-nav-bottom">
            Versi&oacute;n 0.2.7 <br />
            Django v.1.7.7 MySql v5.5 Python v2.7 <br />
            &COPY; 2014 - 2017 UNLA by Khusnulina Valeria, Zavaglia Matias.
        </div>
    </div>
    <!-- end: Main Menu (#sidebar-wrapper) -->

    <!-- start: Page content -->
    <div id="page-content-wrapper">
        <div class="content-header no-print">
            <div class="user-top-nav">

                <span id="userNotifications" class="profile_messages_button"></span>
                {% if request.session.is_auth %}
                    <span class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="trelloMenu1"
                                        data-toggle="dropdown">
                                    <i class="fa fa-trello"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="trelloMenu1">
                                    <li><a href="javascript:;" data-toggle="modal" data-target="#reportErrorModal"><i
                                            class="fa fa-bug"></i> Reclamar un Error</a></li>
                                    <li><a href="javascript:;" data-toggle="modal" data-target="#requestChangeModal"><i
                                            class="fa fa-ticket"></i> Solicitar un cambio</a></li>
                                    <li><a href="javascript:;" onclick="getTasks()"><i
                                            class="fa fa-list-ul"></i> Listar tareas creadas</a></li>
                                </ul>
                            </span>
                    <button class="btn btn-default" type="button" id="ayuda">
                        <i class="fa fa-question-circle"></i>
                    </button>
                    <span class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="userMenu1"
                                        data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userMenu1">
                                    <li class="user-email"><span>{{ request.session.user_name }}</span></li>
                                    <li class="user-email"><span>{{ request.session.dni }}</span></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="/perfil">Perfil</a></li>
                                    <li><a tabindex="-1" href="/logout">Log Out</a></li>
                                </ul>
                            </span>
                {% endif %}
            </div>
        </div>

        <div class="page-content inset container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- end: Page content (#page-content-wrapper) -->
</div>
<!-- end: Main (#wrapper) -->


<!-- Trello Modal -->
<div class="modal fade" id="reportErrorModal" tabindex="-1" role="dialog" aria-labelledby="reportErrorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reportErrorModalLabel">Reclamar un Error</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cardName">T&iacute;tulo</label>
                    <input type="text" class="form-control" id="cardName" placeholder="T&iacute;tulo">
                </div>
                <div class="form-group">
                    <label for="cardDescription">Descripci&oacute;n</label>
                    <textarea class="form-control" rows="5" id="cardDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="generate_trello_error">Reportar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Trello Modal -->
<div class="modal fade" id="requestChangeModal" tabindex="-1" role="dialog" aria-labelledby="requestChangeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="requestChangeModalLabel">Solicitar un requisito o cambio</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cardName2">T&iacute;tulo</label>
                    <input type="text" class="form-control" id="cardName2" placeholder="T&iacute;tulo">
                </div>
                <div class="form-group">
                    <label for="cardDescription2">Descripci&oacute;n</label>
                    <textarea class="form-control" rows="5" id="cardDescription2"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="generate_trello_task">Solicitar
                </button>
            </div>
        </div>
    </div>
</div>


{% include 'general/utility.html' %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#ayuda').click(function () {
            window.location = '{% url 'web.views.inicioView.ayuda' %}';
        });
    });
</script>
</body>
</html>