<script type="text/javascript">

    $(document).ready(function () {
        initTemplates();

        PNotify.prototype.options.styling = "fontawesome";

        /* Trello functionalities */
        $('#generate_trello_error').click(function () {
            var cardName = $('#cardName', '#reportErrorModal').val();
            $('#cardName', '#reportErrorModal').val('');
            var cardDescription = $('#cardDescription', '#reportErrorModal').val();
            $('#cardDescription', '#reportErrorModal').val('').text('').html('');
            addTask(cardName, cardDescription, '5839eae893e003dc087783b2');
        });
        $('#generate_trello_task').click(function () {
            var cardName = $('#cardName2', '#requestChangeModal').val();
            $('#cardName2', '#requestChangeModal').val('');
            var cardDescription = $('#cardDescription2', '#requestChangeModal').val();
            $('#cardDescription2', '#requestChangeModal').val('').text('').html('');
            addTask(cardName, cardDescription, '5839eb48ae3f23027d4e2361');
        });
    });

    var TRELLO_KEY = '9b7c4b40f2bf4ddaa20b00925cc14088';
    var TRELLO_TOKEN = '4a017b10d6d8b02315f6bbee987a9bff05c24c5ec0dc8537cbb440f3c796f967';
    var USER_TRELLO_ID = '583a0e4d58d58691b16da13f';
    var TRELLO_URL_BASE = 'https://api.trello.com/1';
    function addTask(name, description, listID) {
        var data = {
            key: TRELLO_KEY,
            token: TRELLO_TOKEN,
            name: name,
            desc: description,
            pos: 'top',
            idList: listID,
            idMembers: USER_TRELLO_ID
        };
        var url = TRELLO_URL_BASE + '/cards';
        $.post(url, data, function () {
            swal("Tarea generada", '(' + name + ')', "success");
        }).fail(function () {
            sweetAlert("Problemas para generar la tarea", '(' + name + ')', "error");
        });
    }

    function getTasks() {
        var data = {
            key: TRELLO_KEY,
            token: TRELLO_TOKEN
        };

        $.ajax({
            dataType: "json",
            url: TRELLO_URL_BASE + '/members/' + USER_TRELLO_ID + '/cards',
            data: data,
            success: function (tasks) {
                console.log(tasks);
                var html = '<ul class="list_trello_tasks list-group">', task;
                for (var i in tasks) {
                    task = tasks[i];
                    html += '<li class="list-group-item">' + task['name'] + getTaskStatus(task['idList']) + "</li>";
                }
                html += "</ul>";
                swal({
                    title: '<i class="fa fa-trello"></i> Tareas en Trello:',
                    text: html,
                    html: true
                });
            }
        });
    }

    function getTaskStatus(listID) {
        var status = ' <b class="label label-';
        switch (listID) {
            case '5839eae893e003dc087783b2':
                status += 'default">Pendiente en "Errores"';
                break;
            case '5839eb48ae3f23027d4e2361':
                status += 'default">Pendiente en "Solicitud de cambio"';
                break;
            case '5839ed3dd7c39889a641224f':
                status += 'info">En Desarrollo';
                break;
            case '5839ed429e47cdea1986420a':
                status += 'warning">En periodo de Prueba';
                break;
            case '5839ed4cdbc6223d980de414':
                status += 'success">En Produccion';
                break;
            default:
                status += 'primary">Otro';
                break;
        }
        return status + "</b>"
    }

    function msgSuccess(title, text) {
        new PNotify({
            title: title,
            text: text,
            type: 'success'
        });
    }

    function msgError(text) {
        new PNotify({
            title: 'Error',
            text: text,
            type: 'error'
        });
    }

    function render(id, context) {
        var template = TEMPLATES[id];
        if (template !== undefined) {
            return template(context);
        }
        return "[ Template with ID " + id + " NOT found ]";
    }

    var TEMPLATES = {};
    function initTemplates() {
        var source, index;
        $('.handlebars-template').each(function () {
            source = $(this).html();
            index = $(this).attr('id');
            TEMPLATES[index] = Handlebars.compile(source);
            if ($(this).hasClass('partial')) {
                Handlebars.registerPartial(index, source);
            }
        });
    }

    function openModal(title, content, buttons, callback, data) {
        if (buttons == undefined) {
            buttons = {
                ok: {
                    label: 'Close',
                    className: 'btn btn-default',
                    callback: function () {
                    }
                }
            };
        }
        var className = '';
        if (data != undefined && data['large'] != undefined) {
            className = "modalLarge";
        }
        var dialog = bootbox.dialog({
            title: title,
            message: content,
            buttons: buttons,
            callback: function () {
                if (typeof callback == 'function') {
                    callback();
                }
            },
            className: className
        });
        return dialog;
    }

    function openModalTemplate(title, id, data, buttons, callback) {
        var content = render(id, data);
        return openModal(title, content, buttons, callback);
    }
</script>