{% for respuesta in pregunta.respuestas %}
    <i class="fa
        {% if respuesta.alumno_respuesta %}
            fa-check-square-o
        {% else %}
            fa-square-o
        {% endif %}
        "></i> <label style="font-weight: 100;"> {{ respuesta.descripcion }}</label>
    {% if respuesta.alumno_respuesta %}
        {% if respuesta.correcta %}
            <correcta></correcta>
        {% else %}
            <incorrecta></incorrecta>
        {% endif %}
    {% else %}
        {% if respuesta.correcta %}
            <incorrecta></incorrecta>
        {% endif %}
    {% endif %}
    <br/>
{% endfor %}