{% if respuesta_alumno %}
    <i>{{ respuesta_alumno.0.respuesta.descripcion }}</i>&nbsp;
    {% if pregunta.id == respuesta_alumno.0.respuesta.pregunta.id %}
        <correcta></correcta>
    {% else %}
        <incorrecta></incorrecta>
    {% endif %}
{% else %}
    [No Contesta]
{% endif %}