<div class="row">
        <span class="col-sm-6">
            <label style="font-weight: 100;">
                <i class="fa
                {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == pregunta.respuestas.0.id %}
                    fa-check-circle-o
                {% else %}
                    fa-circle-o
                {% endif %}
                "></i> {{ pregunta.respuestas.0.descripcion }}&nbsp;
                {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == pregunta.respuestas.0.id %}
                    {% if pregunta.respuestas.0.correcta %}
                        <correcta></correcta>
                    {% else %}
                        <incorrecta></incorrecta>
                    {% endif %}
                {% endif %}
            </label>
        </span>
    <span class="col-sm-6">
            <label style="font-weight: 100;">
                <i class="fa
                {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == pregunta.respuestas.1.id %}
                    fa-check-circle-o
                {% else %}
                    fa-circle-o
                {% endif %}
                "></i> {{ pregunta.respuestas.1.descripcion }}&nbsp;
                {% if respuesta_alumno and respuesta_alumno.0.respuesta_id == pregunta.respuestas.1.id %}
                    {% if pregunta.respuestas.1.correcta %}
                        <correcta></correcta>
                    {% else %}
                        <incorrecta></incorrecta>
                    {% endif %}
                {% endif %}
            </label>
        </span>
</div>