{% if temas %}<br><label class="control-label">Seleccione los temas que integran la evaluaci&oacute;n</label><br><div class="row">
	{% for tema in temas %}	
  <div class="col-lg-6" style="margin-top: 10px;">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" class="ch_temas" value="{{ tema.id}}">
      </span>
      <input type="label" class="form-control" value="{{ tema.nombre }}">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
	{% endfor %} </div>
	<br>
	<input type="button" class="btn btn-default" id="temas_todos" value="Seleccionar todos">
	<input type="button" class="btn btn-default" id="temas_ninguno" value="Deseleccionar todos">
	<input type="button" class="btn btn-primary" id="cargar_temas" value="OK">
	{% csrf_token %}
	<!--<td>
		<a href="" class="temas" data-tema_nombre="{{ tema.nombre }}" data-tema_id="{{ tema.id }}"><i class="fa fa-eye"></i> Aceptar</a>
	</td>-->
{% else %}
<br />
<div class="alert alert-warning" role="alert">Esta materia no tiene temas.</div>
{% endif %}

<script>
	$(document).ready(function(){
		// ---- Se ejecuta una vez
		var temas = "";

		// ---- Selecciona todos los temas
		$("#temas_todos").click(function(){
			$('.ch_temas').prop('checked', true);
		});
		$("#temas_ninguno").click(function(){
			$('.ch_temas').prop('checked', false);
		});

		// ---- Cargar Configuracion
		$("#cargar_temas").click(function(){
			var array_temas = [];
			$('.ch_temas:checked').each(function(){
				array_temas.push($(this).val());
			});
			var materia_id = $('#materias').val();
			$("#configuraciones_div").html(loader).load('/nueva_evaluacion/configuraciones/', {'materia':materia_id, 'temas' : array_temas.join(), csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()});
		});
		
	});
	
</script>
