{% extends 'general/master_page.html' %}

{% block title %} Escritorio {% endblock %}

{% block menuItem %}menu_home{% endblock %}

{% block content %}
<div class="row widget">
    <h4>Manual de Usuario</h4>
    <br/><hr /><br/>
    <iframe src="https://docs.google.com/document/d/1VBS0IcsFwyShTQA18jcy7y1UdGfYI9sa-ihrlkTd7BM/edit?usp=sharing" style="width: 100%; height: 700px"></iframe>
</div>

{% endblock %}