{% extends 'general/master_page.html' %}
{% load staticfiles %}

{% block title %} Escritorio {% endblock %}

{% block menuItem %}menu_home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3 class="text-center">
            <img src="{% static 'img/logo_unla.png' %}" alt="UNLa" class="img-circle" height="50" width="50" style="background-color: #901630; border: 2px darkgrey solid;">
            <b>Bienvenido al Sistema de Evaluaciones Virtuales!</b></h3>
        <br />
        <hr/>
        <br/>
        <div class="well center-block" style="max-width: 50%;">
            {% if not request.session.is_auth and not show_setup %}
                <button class="btn btn-default btn-block" type="button" id="login">
                    <i class="fa fa-sign-in"></i> Log In
                </button>
                <br/>
            {% endif %}
            {% if show_setup %}
                <button class="btn btn-default btn-block" type="button" id="setup">
                    <i class="fa fa-cog"></i> Configurar AAEV
                </button>
                <br/>
            {% elif is_superuser %}
                <!--<button class="btn btn-default" type="button" id="test_data">
                    <i class="fa fa-database"></i> Cargar Datos de Prueba
                </button>
                <br/>
                <button class="btn btn-default" type="button" id="remove_test_data">
                    <i class="fa fa-trash-o"></i> Borrar Datos de Prueba
                </button>
                <br/>
                <hr />-->
                <i class="text-center center-block"><i class="fa fa-trello" aria-hidden="true"></i> Generar tareas en Trello al equipo de Desarrollo
                </i>
                <br />
                <button class="btn btn-default btn-block" type="button" data-toggle="modal" data-target="#reportErrorModal">
                    <i class="fa fa-bug"></i> Reclamar un Error
                </button>
                <button class="btn btn-default btn-block" type="button" data-toggle="modal" data-target="#requestChangeModal">
                    <i class="fa fa-ticket"></i> Solicitar un cambio
                </button>
                <button class="btn btn-default btn-block" type="button" onclick="getTasks()">
                    <i class="fa fa-list-ul"></i> Listar tareas creadas
                </button>
                <hr/>
            {% endif %}
            <button class="btn btn-default btn-block" type="button" id="manualdeusuario">
                <i class="fa fa-question-circle"></i> Manual de Usuario
            </button>
            <button class="btn btn-default btn-block" type="button" id="gitrepository">
                <i class="fa fa-github"></i> Repositorio Git
            </button>
        </div>
    </div>


    <script src="https://trello.com/1/client.js?key=9b7c4b40f2bf4ddaa20b00925cc14088"></script>
    <script type="text/javascript">

        var authenticationSuccess = function () {
            console.log('Successful authentication');
        };
        var authenticationFailure = function () {
            console.log('Failed authentication');
        };

        $(document).ready(function () {

            $('#login').click(function () {
                window.location = '{% url 'django.contrib.auth.views.login' %}';
            });
            $('#test_data').click(function () {
                window.location = '{% url 'web.views.setupView.load_test_data' %}';
            });
            $('#remove_test_data').click(function () {
                window.location = '{% url 'web.views.setupView.remove_test_data' %}';
            });
            $('#setup').click(function () {
                var setUpPath = '{% url 'web.views.setupView.initial_setup' %}';
                var newAdminPath = '{% url 'web.views.inicioView.new_admin' %}';
                $(this).parent().html(loader);
                $.get(setUpPath, {}, function () {
                    window.location = newAdminPath;
                });
            });
            $('#manualdeusuario').click(function () {
                window.location = '{% url 'web.views.inicioView.ayuda' %}';
            });
            $('#gitrepository').click(function () {
                window.open('https://bitbucket.org/vkhusnulina/ps_aaev');
            });
        });

    </script>

{% endblock %}