{% extends 'general/master_page.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="well center-block" style="max-width: 50%;">
            {% if form.errors %}
                <span class="small"><i>Los credenciales son incorrectos. Por favor, vuelva a ingresar sus datos de acceso.</i></span>
                <hr/>
            {% endif %}
            <form class="form-horizontal" role="form" method="post"
                  action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-lg-4 control-label">Usuario</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">Contraseña</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                        <div class="checkbox">
                            <label> <input type="checkbox"> No cerrar sesión
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                        <button type="submit" value="login" class="btn btn-default">Entrar</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
