<div class="row">
    <span class="col-sm-6">
        <label style="font-weight: 100;">
            <i class="fa fa-square-o"></i> {{ respuestas.0.descripcion }}&nbsp;
        </label>
    </span>
    <span class="col-sm-6">
        <label style="font-weight: 100;">
            <i class="fa fa-square-o"></i> {{ respuestas.1.descripcion }}&nbsp;
        </label>
    </span>
</div>