{% extends 'general/master_page.html' %}

{% block title %} Nuevo Profesor {% endblock %}

{% block header %}Nuevo Profesor{% endblock %}

{% block content %}
    <style>
        .help-block {
            text-align: center
        }
    </style>
    <div class="row widget well">
        <h3>Agregar usuario docente</h3>
        <div class="form-horizontal" id="nuevo_profesor">
            <div class="form-group">
                <label for="email" class="col-sm-offset-2 col-sm-2 control-label">Email de usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" placeholder="usuario@mail.com">
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-offset-2 col-sm-2 control-label">Nombre de usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                </div>
            </div>
            <div class="form-group">
                <label for="nombre" class="col-sm-offset-2 col-sm-2 control-label">Nombre/s</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="apellido" class="col-sm-offset-2 col-sm-2 control-label">Apellido/s</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="dni" class="col-sm-offset-2 col-sm-2 control-label">Documento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="dni" name="dni" placeholder="########">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-offset-2 col-sm-2 control-label">Contrase&ntilde;a</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password" placeholder="******">
                </div>
            </div>
            <div class="form-group">
                <label for="password_r" class="col-sm-offset-2 col-sm-2 control-label">Repetir Contrase&ntilde;a</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password_r" name="password_r" placeholder="******">
                </div>
            </div>

            <div class="col-sm-12 form-group">
                <span class="help-block" id="errores"></span>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button id="agregar_profesor" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#agregar_profesor').click(function (e) {
                e.preventDefault();
                var data = {
                    email: $('#email').val(),
                    username: $('#username').val(),
                    nombre: $('#nombre').val(),
                    apellido: $('#apellido').val(),
                    dni: $('#dni').val(),
                    password: $('#password').val()
                };
                if ($('#password').val() != $('#password_r').val()) {
                    $('#errores').closest('.form-group').addClass('bg-danger');
                    $('#errores').html('Las contraseñas no coinciden');
                } else {
                    $('#errores').closest('.form-group').removeClass('bg-danger');
                    $('#errores').html('');
                    $.post('/profesores/agregar/', data, function (response) {
                        if (response.valid) {
                            window.location = '{% url 'web.views.usersView.profesores' %}';
                        } else {
                            $('#errores').closest('.form-group').addClass('bg-danger');
                            $.each(response['errors'], function (key, value) {
                                $('#errores').append("<p>" + value + "</p>");
                            });
                        }
                    });
                }

            });
        });


    </script>
{% endblock %}
