{% extends 'general/master_page.html' %}

{% block title %} Usuarios {% endblock %}

{% block header %}Usuarios{% endblock %}

{% block content %}
    <style>
        button.delete_row {
            padding: 0px 7px;
        }
    </style>

    <div class="row widget well">
        <h4>Agregar alumnos / Inscribir en la materia</h4>
        <br/>
        <div class="alert alert-info" role="alert" style="padding: 2px;">
            El usuario y contrase&ntilde;a de los nuevos alumnos tendr&aacute;n el siguiente formato:
            <b>Usuario: DNI[numero_de_documento], Contrase&ntilde;a: [numero_de_documento]</b>
            <br/>Por ejemplo: (documento) 123456789, (usuario) DNI123456789, (contrase&ntilde;a) 123456789
        </div>
        <hr/>
        <form id="create_users" method="POST" action="upload-users/">
            <input type="hidden" name="cantidad" value="" id="cantidad"></input>
            <div class="col-md-12">
                <table class="table table-hover table-condensed" id="add_users">
                    <thead>
                    <tr>
                        <th class="text-center">
                            Nombre/s<br/>
                            <i>
                                <small>Dato obligatorio</small>
                            </i>
                        </th>
                        <th class="text-center">
                            Apellido/s<br/>
                            <i>
                                <small>Dato obligatorio</small>
                            </i>
                        </th>
                        <th class="text-center">
                            Documento<br/>
                            <i>
                                <small>Obligatorio y num&eacute;rico sin espacios</small>
                            </i>
                        </th>
                        <th class="text-center">
                            eMail<br/>
                            <i>
                                <small>Obligatorio y en forma de mail</small>
                            </i>
                        </th>
                        <th class="text-center">
                            &nbsp;
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id='addr0' data-index="0" class="user">
                        <td>
                            <input type="text" name='name0' placeholder='Nombre' class="form-control firstName"/>
                        </td>
                        <td>
                            <input type="text" name='last0' placeholder='Apellido' class="form-control lastName"/>
                        </td>
                        <td>
                            <input type="text" name='dni0'
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                   placeholder='########' class="form-control dni"/>
                        </td>
                        <td>
                            <input type="text" name='mail0' placeholder='correo@mail.com' class="form-control mail"/>
                        </td>
                        <td>
                            <button onClick='delete_row("addr0")' class="btn btn-danger delete_row">
                                <i class="fa fa-ban fa-inverse"></i>
                            </button>
                        </td>
                    </tr>
                    <tr id='addr1' class="user" data-index="1"></tr>
                    </tbody>
                </table>
            </div>
            <button id="add_row" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Fila</button>
            &nbsp;
            <button id="csv_users" class="btn btn-default"><i class="fa fa-file-text-o"></i> Subir CSV</button>
            <br/>
            <br/>
            <div class="checkbox inline">
                <label>
                    <input type="checkbox" name="reemplazarDatosDelAlumno"> Reemplazar el nombre y apellido en caso que
                    el usuario
                    ya est&eacute; registrado (<i>en caso contrario &uacute;nicamente y de ser necesario ser&aacute;
                    inscripto a la materia</i>).
                </label>
            </div>
            <br/>
            <div class="checkbox inline">
                <label>
                    <input type="checkbox" id="asignar_alumnos" name="asignarAlumnosAMateria"> Inscribir alumnos en la
                    materia
                </label>
            </div>
            <hr/>
            <select id="materias" class="btn btn-default inline">
                {% for materia in materias %}
                    <option value="{{ materia.id }}">
                        {{ materia.nombre }}
                    </option>
                {% endfor %}
            </select>
            &nbsp;
            <button class="btn btn-primary floatRight" id="submit"><i class="fa fa-save"></i> Procesar Lista</button>
            <button class="btn btn-default floatRight" id="submitSoloAsignar"><i class="fa fa-book"></i> Solo asignar a
                materia
            </button>
            <input type="hidden" name="idMateria" value="">
        </form>
        <hr />
        <div class="col-sm-12" id="message"></div>
    </div>
    <div id="uploadFileContainer" style="display:none">
        <label>Seleccione el archivo .csv que contenga lista de alumnos.</label>
        <input type="file" accept=".csv" class="uploadFile form-control"/>
    </div>

    <script>
        var i = 1;

        $(document).ready(function () {
            $("#materias").hide();
            $("input[name='idMateria']").val($("#materias").val());

            $("#asignar_alumnos").click(function () {
                if ($("#asignar_alumnos").is(':checked')) {
                    $("#materias").show();
                } else {
                    $("#materias").hide();
                }
            });

            $("#materias").on('change', function () {
                $("input[name='idMateria']").val($("#materias").val());
            });

            $("#add_row").click(function () {
                $('#addr' + i).html("<td><input name='name" + i + "' type='text' placeholder='Nombre' class='form-control' /></td>" + "<td><input name='last" + i + "' type='text' placeholder='Apellido' class='form-control' /></td>" + "<td><input name='dni" + i + "' type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder='########' class='form-control' /></td>" + "<td><input name='mail" + i + "' type='text' placeholder='correo@mail.com' class='form-control' /></td>" + "<td><button onClick='delete_row(\"addr" + i + "\")' class='btn btn-danger delete_row'><i class='fa fa-ban fa-inverse'></i></button></td>");

                $('#add_users').append('<tr class="user" data-index="' + (i + 1) + '" id="addr' + (i + 1) + '"></tr>');
                i++;
            });

            $("#fileupload").click(function (e) {
                alert($("#fileupload").value);
            });

            $("#csv_users").click(function (e) {
                openModal('Subir archivo CSV', $('#uploadFileContainer').html(), {
                    Cerrar: {
                        className: 'btn btn-defaul',
                        callback: function () {
                            $('.uploadFile').val('');
                        }
                    },
                    Subir: {
                        className: 'btn btn-primary',
                        callback: function () {
                            var file = $('.uploadFile', '.modal-body')[0].files[0];
                            var formdata = new FormData();
                            formdata.append('file_upload', file);

                            uploadCSV(formdata);
                        }
                    }
                });
            });

            var frm = $('#create_users');
            frm.submit(function (e) {
                e.preventDefault();
            });
            $("#submit").click(function (e) {
                e.preventDefault();
                deleteEmptyRows();
                //Variable declaration
                var errors = 0;
                var formdata = new FormData();
                var rows = $('#add_users tr.user');
                var users = [];
                var indexes = "";

                $('#message').html("");
                rows.each(function () {
                    var col = $(this).find('td');
                    if (col.length > 0) {
                        $nombre = col[0].getElementsByTagName("input")[0];
                        if (isInputEmpty($nombre)) {
                            $nombre.style.backgroundColor = "#FF8080";
                            errors += 1;
                        } else {
                            $nombre.style.backgroundColor = "#FFFFFF";
                        }
                        $apellido = col[1].getElementsByTagName("input")[0];
                        if (isInputEmpty($apellido)) {
                            $apellido.style.backgroundColor = "#FF8080";
                            errors += 1;
                        } else {
                            $apellido.style.backgroundColor = "#FFFFFF";
                        }
                        $documento = col[2].getElementsByTagName("input")[0];
                        if (isInputEmpty($documento)) {
                            $documento.style.backgroundColor = "#FF8080";
                            errors += 1;
                        } else {
                            $documento.style.backgroundColor = "#FFFFFF";
                        }
                        $email = col[3].getElementsByTagName("input")[0];
                        if (!isInputEmpty($email) && validateEmail($email.value)) {
                            $email.style.backgroundColor = "#FFFFFF";
                        } else {
                            $email.style.backgroundColor = "#FF8080";
                            errors += 1;
                        }
                        var user = JSON.stringify({
                            firstName: $nombre.value,
                            lastName: $apellido.value,
                            document: $documento.value,
                            mail: $email.value
                        });
                        users.push(user);
                        indexes = indexes + "_" + $(this).attr('data-index');
                    }
                });
                if (errors == 0) {
                    $("#cantidad").val(indexes);
                    formdata.append('users', users);
                    if ($("#asignar_alumnos").is(':checked')) {
                        formdata.append('subject', $('#materias option:selected').attr('value'));
                    } else {
                        formdata.append('subject', '0');
                    }
                    if ($('[name="reemplazarDatosDelAlumno"]').is(':checked')) {
                        formdata.append('reemplazarDatosDelAlumno', '1');
                    } else {
                        formdata.append('reemplazarDatosDelAlumno', '0');
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/alumnos/procesar/',
                        data: frm.serialize(),
                        success: function (response) {
                            if (response['errors'].length > 0) {
                                showErrors(response['errors']);
                            }
                            msgSuccess('Nuevos', response.agregados + ' Nuevos alumnos');
                            msgSuccess('Actualizados', response.actualizados + ' Alumnos actualizados');
                            msgSuccess('Inscriptos', response.asignados + ' Inscriptos en la materia');
                        }
                    });
                } else {
                    swal({
                        title: "Atención",
                        text: "Debe corregir los campos que están marcados en rojo!<br /><i>(Todos los campos son obligatorios y requieren ser correctamente formateados)</i>",
                        type: "warning",
                        html: true,
                        confirmButtonText: "OK"
                    });

                }
                return false;
            });
            $("#submitSoloAsignar").click(function (e) {
                e.preventDefault();
                deleteEmptyRows();
                //Variable declaration
                var errors = 0;
                var formdata = new FormData();
                var rows = $('#add_users tr.user');
                var users = [];
                var indexes = "";

                $('#message').html("");
                rows.each(function () {
                    var col = $(this).find('td');
                    var $documento;
                    var $email;
                    var filaIncorrecta = 0;
                    if (col.length > 0) {
                        $documento = col[2].getElementsByTagName("input")[0];
                        if (isInputEmpty($documento)) {
                            filaIncorrecta++;
                        } else {
                            $documento.style.backgroundColor = "#FFFFFF";
                        }
                        $email = col[3].getElementsByTagName("input")[0];
                        if (!isInputEmpty($email) && validateEmail($email.value)) {
                            $email.style.backgroundColor = "#FFFFFF";
                        } else {
                            filaIncorrecta++;
                        }
                        if (filaIncorrecta >= 2) {
                            $documento.style.backgroundColor = "#FF8080";
                            $email.style.backgroundColor = "#FF8080";
                            errors += 1;
                        }
                        var user = JSON.stringify({
                            document: $documento.value,
                            mail: $email.value
                        });
                        users.push(user);
                        indexes = indexes + "_" + $(this).attr('data-index');
                    }
                });
                if (errors == 0) {
                    $("#cantidad").val(indexes);
                    formdata.append('users', users);
                    formdata.append('soloAsignar', 'on');
                    if (!$("#asignar_alumnos").is(':checked')) {
                        swal({
                            title: "Atención",
                            text: "Debe seleccionar la materia a la cual inscribir a los alumnos",
                            type: "warning",
                            html: true,
                            confirmButtonText: "OK"
                        });
                        return false;
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/alumnos/procesar/',
                        data: frm.serialize(),
                        success: function (response) {
                            if (response['errors'].length > 0) {
                                showErrors(response['errors']);
                            }
                            msgSuccess('Inscriptos', response.asignados + ' Inscriptos en la materia');
                        }
                    });
                } else {
                    swal({
                        title: "Atención",
                        text: "Debe corregir las filas marcadas en rojo!<br /><i>(Para inscribir en la materia se debe ingresar el DNI y/o el Email)</i>",
                        type: "warning",
                        html: true,
                        confirmButtonText: "OK"
                    });

                }
                return false;

            });

        });

        function uploadCSV(formdata) {
            $.ajax({
                url: '/alumnos/agregar/csv/',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (response) {
                    $.each(response.users, function (index, user) {
                        $('#addr' + i).html("<td><input name='name" + i + "' type='text' placeholder='Nombre' class='form-control' value='" + user.firstName + "' /></td>" + "<td><input name='last" + i + "' type='text' placeholder='Apellido' class='form-control' value='" + user.lastName + "' /></td>" + "<td><input name='dni" + i + "' type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder='########' class='form-control' value='" + user.dni + "' /></td>" + "<td><input name='mail" + i + "' type='text' placeholder='correo@mail.com' class='form-control' value='" + user.email + "' /></td>" + "<td><button onClick='delete_row(\"addr" + i + "\")' class='btn btn-danger delete_row'><i class='fa fa-ban fa-inverse'></i></button></td>");

                        $('#add_users').append('<tr class="user" data-index="' + (i + 1) + '" id="addr' + (i + 1) + '"></tr>');
                        i++;
                    });

                    deleteEmptyRows();

                    if (response['errors'].length) {
                        showErrors(response['errors']);
                    }
                }
            });
        }

        function showErrors(errors) {
            var myhtml = '<div class="alert alert-danger" role="alert"><ul>';
            $.each(errors, function (index, error) {
                myhtml = myhtml + '<li>' + error + '</li>';
            });
            myhtml = myhtml + '</ul></div>';
            $('#message').html(myhtml);
        }

        function deleteEmptyRows() {
            var rows = $('#add_users tr.user');
            rows.each(function () {
                var col = $(this).find('td');
                if (col.length > 0) {
                    var nombre = col[0].getElementsByTagName("input")[0].value;
                    var apellido = col[1].getElementsByTagName("input")[0].value;
                    var documento = col[2].getElementsByTagName("input")[0].value;
                    var email = col[3].getElementsByTagName("input")[0].value;
                    if (validateEmptyRow(nombre, apellido, documento, email)) {
                        delete_row($(this).attr('id'));
                    }
                }
            });
        }

        function delete_row(index) {
            rows = $('tr.user').length;
            if (rows > 2) {
                element = $("#" + index);
                element.remove();
            }
            return false;
        }

        //Validations

        function isInputEmpty(input) {
            if (input.value.length === 0)
                return true;
            return false;
        }

        function validateEmptyRow(nombre, apellido, documento, email) {
            if ((nombre.length + apellido.length + documento.length + email.length) === 0)
                return true;
            else
                return false;
        }

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    </script>
{% endblock %}