{% extends 'general/master_page.html' %}

{% block title %} Nuevo Administrador {% endblock %}

{% block header %}Nuevo Administrador{% endblock %}

{% block content %}
<div class="row widget">
    <form class="form-horizontal" role="form" method="">{% csrf_token %}
        <div class="form-group">
            <label for="inputEmail" class="col-sm-offset-2 col-sm-2 control-label">Email de usuario</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="inputEmail" placeholder="email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputUser" class="col-sm-offset-2 col-sm-2 control-label">Nombre de usuario</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="inputUser" placeholder="usuario">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-sm-offset-2 col-sm-2 control-label">Nombre/s</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="inputName" placeholder="Nombre">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLast" class="col-sm-offset-2 col-sm-2 control-label">Apellido/s</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="inputLast" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-offset-2 col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="inputPassword" placeholder="******">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRepeatPassword" class="col-sm-offset-2 col-sm-2 control-label">Repetir Contraseña</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="inputRepeatPassword" placeholder="******">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button id="create_admin" class="btn btn-default">Crear</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#create_admin').click(function(e){
		    e.preventDefault();
			var data = {
			    inputEmail: $('[name="inputEmail"]').val(),
			    inputUser: $('[name="inputUser"]').val(),
			    inputName: $('[name="inputName"]').val(),
			    inputLast: $('[name="inputLast"]').val(),
			    inputPassword: $('[name="inputPassword"]').val()
			};
			console.log(data);
			$.post('/nuevo_administrador/', data, function(response){
			    window.location = '{% url 'web.views.inicioView.home' %}';
			});
		});
	});


</script>
{% endblock %}
