<br />
<div class="form-group col-sm-6">
    <label class="control-label">Nombre/s:</label>
    <input class="form-control editable" type="text" data-field="nombre"
           value="{{ usuario.first_name }}" data-old_value="{{ usuario.first_name }}">
</div>
<div class="form-group col-sm-6">
    <label class="control-label">Apellido/s:</label>
    <input class="form-control editable" type="text" data-field="apellido"
           value="{{ usuario.last_name }}" data-old_value="{{ usuario.last_name }}">
</div>
<div class="form-group col-sm-6">
    <label class="control-label">Documento:</label>
    <input class="form-control editable" type="text" data-field="dni"
           value="{{ perfil.dni }}" data-old_value="{{ perfil.dni }}">
</div>
<div class="form-group col-sm-6">
    <label class="control-label">Email:</label>
    <input class="form-control editable" type="email" data-field="email"
           value="{{ usuario.email }}" data-old_value="{{ usuario.email }}">
</div>
<div class="form-group col-sm-6">
    <label class="control-label">Username:</label>
    <input class="form-control editable" type="text" data-field="username"
           value="{{ usuario.username }}" data-old_value="{{ usuario.username }}">
</div>
<div class="form-group col-sm-6">
    <label class="control-label">Contrase&ntilde;a:</label>
    <input class="form-control editable" type="password" data-field="password"
           value="" data-old_value="" placeholder="********">
</div>

<script>
    $(document).ready(function () {
        $('.editable').change(function () {
            var $this = $(this);
            var value = $this.val();
            var field = $this.data('field');
            var old_value = $this.data('old_value');
            $.ajax('/usuario/editar/', {
                method: 'POST',
                data: {
                    value: value,
                    field: field,
                    id: {{ usuario.id }}
                },
                dataType: 'json',
                success: function (response) {
                    if (response['saved']) {
                        msgSuccess('Cambios guardados', 'El campo ' + field + ' ha sido actualizado.');
                        $this.data('old_value', value);
                    }
                    else {
                        msgError(response['msg']);
                        $this.val(old_value);
                    }
                }
            });
        });
    });
</script>