{% extends 'general/master_page.html' %}

{% block title %} Perfil {% endblock %}

{% block header %}Perfil{% endblock %}

{% block content %}

    <div class="row widget well">
    <h3>Datos de Perfil</h3>
        {% include 'users/perfil_usuario.html' with usuario=usuario perfil=perfil %}
    </div>
{% endblock %}