{% extends 'general/master_page.html' %}

{% block title %} Profesor {% endblock %}

{% block header %}Lista de profesores{% endblock %}

{% block content %}

    <div class="row widget well">

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab"
                                                          data-toggle="tab">Perfil</a></li>
                <li role="presentation"><a href="#materias" aria-controls="materias" role="tab"
                                           data-toggle="tab">Materias</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="perfil">
                    {% include 'users/perfil_usuario.html' with usuario=profesor perfil=perfil %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="materias">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Nombre</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for materia in materias %}
                            <tr>
                                <td>{{ materia.codigo }}</td>
                                <td>{{ materia.nombre }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}