{% extends 'general/master_page.html' %}

{% block title %} Alumnos {% endblock %}

{% block header %}Lista de usuarios{% endblock %}

{% block content %}

    <div class="row widget well">

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab"
                                                          data-toggle="tab">Perfil</a></li>
                <li role="presentation"><a href="#evaluaciones" aria-controls="evaluaciones" role="tab"
                                           data-toggle="tab">Evaluaciones</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="perfil">
                    {% include 'users/perfil_usuario.html' with usuario=alumno perfil=perfil %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="evaluaciones">

                    <table class="table">
                        {% for materia in materias %}
                            <thead>
                            <tr>
                                <th colspan="7">{{ materia.nombre }} ({{ materia.codigo }})</th>
                            </tr>
                            <tr>
                                <th>Evaluacion</th>
                                <th>Fecha establecida</th>
                                <th>Asignada?</th>
                                <th>Fecha comienzo</th>
                                <th>Fecha fin</th>
                                <th>Nota aproximada</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evaluacion in materia.evaluaciones %}
                                <tr>
                                    <td>{{ evaluacion.nombre }}</td>
                                    <td>{{ evaluacion.fecha_hora_comienzo|date:"H:i (d/m/Y)" }}</td>
                                    {% if evaluacion.asignacion %}
                                        <td>S&Iacute;</td>
                                        <td>{{ evaluacion.asignacion.fecha_hora_comienzo|date:"H:i (d/m/Y)" }}</td>
                                        <td>{{ evaluacion.asignacion.fecha_hora_final|date:"H:i (d/m/Y)" }}</td>
                                        <td>{{ evaluacion.asignacion.nota_final|default_if_none:"--" }}</td>
                                        <td>
                                            <a href="javascript:;" data-evaluacion="{{ evaluacion.id }}"
                                               class="asignar"><i class="fa fa-eye"></i> Ver</a>
                                        </td>
                                    {% else %}
                                        <td>NO</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td><a href="javascript:;"><i class="fa fa-hand-o-up"></i> Asignar</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% empty %}
                            <tr>
                                <td>El alumno no se encuentra asignado a ninguna materia.</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
        var ALUMNO_ID = "{{ alumno.id }}";
        $(document).ready(function () {
            $('.asignar').click(function () {
                var evaluacion_id = $(this).data('evaluacion');
                var win = window.open('/evaluar/' + evaluacion_id + '/' + ALUMNO_ID, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    swal('Please allow popups for this website', "warning");
                }
            });
        });
    </script>
{% endblock %}