{% extends 'general/master_page.html' %}

{% block title %} Profesores {% endblock %}

{% block header %}Lista de usuarios{% endblock %}

{% block content %}
    <div class="row widget">
        <h3 class="col-sm-6">Profesores</h3>
        <a href="/profesores/agregar/" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Agregar
            usuario
            docente</a>
        <br/>
        <br/>
        <table class="table">
            <tr>
                <th>Email</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>&nbsp;</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        {{ usuario.email }}
                    </td>
                    <td>
                        {{ usuario.username }}
                    </td>
                    <td>
                        {{ usuario.first_name }}
                    </td>
                    <td>
                        {{ usuario.last_name }}
                    </td>
                    <td>
                        <a href="/profesor/{{ usuario.id }}"><i class="fa fa-eye"></i> Ver perfil y materias</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
