<style>
    .table.table-condensed > thead > tr > td, .table.table-condensed > tbody > tr > td, .table.table-condensed > tfoot > tr > td {
        padding: 0px 2px;
    }

    input[type=checkbox], input[type=radio] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
    }

    td.row_with_checkbox {
        float: right;
    }

    #resumen_tipo, #tipo_pregunta_enunciado {
        text-align: center;
        font-style: italic;
    }

    #resumen_pregunta {
        font-weight: normal;
        color: #101010;
    }

    #preguntas_incompatibles_table {
        min-height: 40px;
        min-width: 100%;
        border: 1px dotted lightgrey;
        border-radius: 3px;
    }

    .cp_pregunta_imagen_preview .img-responsive {
        max-width: 60%;
    }
</style>

<div id="preguntas_incompatibles_table_hidden" class="hidden" hidden="">
</div>


<script id="crear_pregunta" class="handlebars-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-sm-3" style="border-right: 1px solid lightgrey;">
            <ol>
                <li id="paso1_li" class=""><h4>Tipo de Pregunta</h4></li>
                <li id="paso2_li" class="inactive"><h4>Pregunta / Enunciado</h4></li>
                <li id="paso3_li" class="inactive"><h4>Respuesta/s</h4></li>
                <li id="paso4_li" class="inactive"><h4>Preguntas Incompatibles</h4></li>
                <li id="paso5_li" class="inactive"><h4>Vista Previa</h4></li>
            </ol>
        </div>
        <div class="col-sm-9">
            <!-- ______ Tipo de Pregunta _____ -->
            <div id="paso1_div">
                <select name="inputTipoPregunta" class="form-control" id="cp_tipo_pregunta">
                    {% for tipoPregunta in tipos_pregunta %}
                        <option value="{{ tipoPregunta.id }}" {% if tipoPregunta.id == 1 %}
                                selected {% endif %}
                                data-enunciado="{{ tipoPregunta.enunciado }}">{{ tipoPregunta.tipo }}</option>
                    {% endfor %}
                </select>
                <br><br>
                " <label class="control-label" id="tipo_pregunta_enunciado"></label> "
                <br/>
                <hr/>
                <input class="btn btn-primary" type="button" id="tipo_de_pregunta_sig" value="Siguiente"/>
            </div>

            <!-- ______ Pregunta _____ -->
            <div id="paso2_div" hidden="true">
                <label class="control-label">Enunciado o Pregunta:</label>
                <textarea style="width: 95%;" id="cp_pregunta"
                          class="form-control msgd_content_en"></textarea>
                <br/>
                <label class="control-label">URL de contenido gr&aacute;fico [Opcional]:</label>
                <input id="cp_pregunta_imagen" class="form-control">
                <br/>
                <div class="cp_pregunta_imagen_preview"></div>
                <br/>
                <hr/>
                <input class="btn btn-default" type="button" id="pregunta_atr" value="Volver"/>
                <input class="btn btn-primary" type="button" id="pregunta_sig" value="Siguiente"/>
            </div>

            <!-- ______ Respuestas _____ -->
            <div id="paso3_div" hidden="true">
                <div id="agregar_respuestas" hidden="true">
                    <label class="control-label">Seleccione respuestas correctas.</label><br>
                    <table class="table table-condensed" id="tbl1" border="0">
                        <tr>
                            <td><input type="text" data-check="cp_tipo_respuesta_1"
                                       class="form-control respuesta" value=""></td>
                            <td class="row_with_checkbox"><input class="checkbox" type="checkbox"
                                                                 id="cp_tipo_respuesta_1"/></td>
                        </tr>
                    </table>
                    <br>
                    <button class="btn btn-warning" id='anc_add'><i
                            class="fa fa-plus"></i> Agregar fila
                    </button>
                    <button class="btn btn-warning" id='anc_rem'><i
                            class="fa fa-minus"></i> Quitar &uacute;ltima fila
                    </button>
                </div>
                <div class="alert alert-info" id="no_aplica" role="alert">No aplica.</div>
                <br/>
                <hr/>
                <input class="btn btn-default" type="button" id="respuestas_atr" value="Volver"/>
                <input class="btn btn-primary" type="button" id="respuestas_sig" value="Siguiente"/>
            </div>

            <!-- ______ Preguntas Incompatibles _____ -->
            <div id="paso4_div" hidden="true">
                <h4>Lista de preguntas existentes:</h4>
                <div id="preguntas_incompatibles_table"></div>
                <br/>
                <hr/>
                <input class="btn btn-default" type="button" id="preguntas_incompatibles_atr"
                       value="Volver"/>
                <input class="btn btn-primary" type="button" id="preguntas_incompatibles_sig"
                       value="Siguiente"/>
            </div>

            <!-- ______ Resumen _____ -->
            <div id="paso5_div" hidden="true">
                <h4 class="control-label" id="resumen_tipo"></h4><br>
                <label class="control-label" id="resumen_pregunta"></label>
                <br/>
                <div class="cp_pregunta_imagen_preview"></div>
                <br>
                <div id="resumen_respuestas"></div>
                <br/>
                <hr/>
                <input class="btn btn-default" type="button" id="finalizar_atr" value="Volver"/>
                <input class="btn btn-primary" type="button" id="finalizar" value="Finalizar"/>
            </div>
        </div>
    </div>
</script>

<script>
    function cambiarInactivo(activo, inactivo) {
        $("#" + activo).addClass("inactive");
        $("#" + inactivo).removeClass("inactive");
    }
    function cambiarDiv(visible, invisible) {
        $("#" + visible).hide();
        $("#" + invisible).show();
    }

    $(document).ready(function () {

        $('#agregarPreguntaBtn').click(function () {
            var crearPreguntaModal = openModal('Agregar pregunta', render('crear_pregunta'), {}, {}, {large: true});

            crearPreguntaModal.init(function () {
                //--------- Se ejecuta una sola vez
                $('#tbl1').html("");
                cambiarDiv("agregar_respuestas", "no_aplica");

                //--------- Select Tipo de Pregunta
                $("#tipo_pregunta_enunciado").html($('option:selected', "#cp_tipo_pregunta").attr('data-enunciado'));
                $("#resumen_tipo").html($('option:selected', "#cp_tipo_pregunta").attr('data-enunciado'));

                //--------- Listar Preguntas Incompatibles
                $('#preguntas_incompatibles_table').html($('#preguntas_incompatibles_table_hidden').html());
            });
        });


        //--------- Botones siguiente
        $(document).delegate('#tipo_de_pregunta_sig', 'click', function () {
            cambiarInactivo("paso1_li", "paso2_li");
            cambiarDiv("paso1_div", "paso2_div");
        });
        $(document).delegate('#pregunta_sig', 'click', function () {
            cambiarInactivo("paso2_li", "paso3_li");
            cambiarDiv("paso2_div", "paso3_div");
        });
        $(document).delegate('#respuestas_sig', 'click', function () {
            cambiarInactivo("paso3_li", "paso4_li");
            cambiarDiv("paso3_div", "paso4_div");
            // ----------- Mostrar Respuestas -------------
            respuestas = "";
            if ($("#cp_tipo_pregunta").val() == 1) {
                respuestas = '<textarea style="width: 95%;" disabled="" class="form-control msgd_content_en"></textarea>';
            } else {
                respuestas = '<table class="table table-condensed">';
                $('.respuesta').each(function () {
                    respuestas += '<tr><td class="row_with_checkbox"><input disabled="" type="checkbox" /></td>';
                    respuestas += "<td>" + $(this).val() + '</td>';
                    if ($("#" + $(this).attr('data-check')).is(':checked'))
                        respuestas += "<td><i>Correcta</i></td>";
                    else
                        respuestas += "<td><i>Incorrecta</i></td>";
                    respuestas += "</tr>";
                });
                respuestas += "</table>";
            }
            $("#resumen_respuestas").html(respuestas);

        });
        $(document).delegate('#preguntas_incompatibles_sig', 'click', function () {
            cambiarInactivo("paso4_li", "paso5_li");
            cambiarDiv("paso4_div", "paso5_div");
        });
        //--------- FIN botones siguiente

        //--------- Botones atras
        $(document).delegate('#pregunta_atr', 'click', function () {
            cambiarInactivo("paso2_li", "paso1_li");
            cambiarDiv("paso2_div", "paso1_div");
        });
        $(document).delegate('#respuestas_atr', 'click', function () {
            cambiarInactivo("paso3_li", "paso2_li");
            cambiarDiv("paso3_div", "paso2_div");
        });
        $(document).delegate('#preguntas_incompatibles_atr', 'click', function () {
            cambiarInactivo("paso4_li", "paso3_li");
            cambiarDiv("paso4_div", "paso3_div");
        });
        $(document).delegate('#finalizar_atr', 'click', function () {
            cambiarInactivo("paso5_li", "paso4_li");
            cambiarDiv("paso5_div", "paso4_div");
        });
        //--------- FIN botones atras

        $(document).delegate('#cp_pregunta_imagen', 'change', function () {
            var $img = $('<img>').addClass('img-responsive').attr('src', $(this).val());
            $('.cp_pregunta_imagen_preview').html($img);
        });
        $(document).delegate('#cp_tipo_pregunta', 'change', function () {
            $("#tipo_pregunta_enunciado").html($('option:selected', this).attr('data-enunciado'));
            $("#resumen_tipo").html($('option:selected', "#cp_tipo_pregunta").attr('data-enunciado'));
            //Respuestas
            if ($(this).val() == 1) {// -- A DESARROLLAR
                $('#tbl1').html("");
                cambiarDiv("agregar_respuestas", "no_aplica");
            } else {
                cambiarDiv("no_aplica", "agregar_respuestas");
                if ($(this).val() == 2) {// -- SELECCION MULTIPLE
                    $('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="" ></td><td><input class="form-control" type="checkbox" id="cp_tipo_respuesta_1" /></td></tr>');
                    cnt = 2;
                    $("#anc_add").show();
                    $("#anc_rem").show();
                } else if ($(this).val() == 3) {// -- UNION CON FLECHA
                    $('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="" ></td><td><input class="form-control" type="checkbox" checked="" id="cp_tipo_respuesta_1" disabled="" /></td></tr>');
                    cnt = 2;
                    $("#anc_add").hide();
                    $("#anc_rem").hide();
                } else {// -- VERDADERO O FALSO
                    $('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="Verdadero"  disabled="" ></td><td><input class="form-control" type="radio" name="verdadero-falso" checked="" id="cp_tipo_respuesta_1" /></td></tr><tr><td><input data-check="cp_tipo_respuesta_2" class="form-control respuesta" type="text"  value="Falso" disabled="" ></td><td><input class="form-control" type="radio" name="verdadero-falso" id="cp_tipo_respuesta_2" /></td></tr>');
                    cnt = 3;
                    $("#anc_add").hide();
                    $("#anc_rem").hide();
                }
            }
        });
        //--------- FIN Select Tipo de Pregunta

        //--------- Respuestas
        var cnt = 2;
        $(document).delegate('#anc_add', 'click', function () {
            $('#tbl1 tr').last().after('<tr><td><input data-check="cp_tipo_respuesta_' + cnt + '" class="form-control respuesta" type="text"  value=""></td><td><input class="form-control" type="checkbox" id="cp_tipo_respuesta_' + cnt + '" /></td></tr>');
            cnt++;
        });

        $(document).delegate('#anc_rem', 'click', function () {
            if ($('#tbl1 tr').size() > 1) {
                $('#tbl1 tr:last-child').remove();
            }
        });
        //---------- FIN Respuestas

        //---------- Resumen
        $(document).delegate('#cp_pregunta', 'keyup', function () {
            $('#resumen_pregunta').html($(this).val());
        });
        //---------- Fin Resumen

        //---------- Finalizar
        $(document).delegate('#finalizar', 'click', function () {
            var questions = {
                tema_id: $('#listaTemas select').val(),
                tipo_id: $("#cp_tipo_pregunta").val(),
                enunciado: $("#cp_pregunta").val(),
                enunciado_grafico: $("#cp_pregunta_imagen").val(),
            };
            var i = 0;
            // ---- Guardo Respuetas
            $('.respuesta').each(function () {
                i++;
                var respuesta = $(this).val();
                var valor = $("#" + $(this).attr('data-check')).is(':checked');
                questions['respuesta' + i] = respuesta;
                if (valor)
                    questions['valor' + i] = 1;
                else
                    questions['valor' + i] = 0;
            });
            questions['cantidad_respuestas'] = i;
            // ---- Preguntas Incompatibles
            var preguntas_incompatibles = "";
            $(".preguntas_incompatibles_check").each(function () {
                if ($(this).is(":checked"))
                    preguntas_incompatibles += $(this).attr("data-pregunta") + "&";
            });
            if (preguntas_incompatibles.length > 0)
                preguntas_incompatibles = preguntas_incompatibles.slice(0, -1);
            questions['preguntas_incompatibles'] = preguntas_incompatibles;
            $.ajax({
                type: 'POST',
                url: '/nueva_pregunta/',
                data: questions,
                success: function (response) {
                    $('.close').click();
                    swal({
                                title: "Nueva pregunta",
                                text: "creada satisfactoriamente!",
                                type: "success",
                                confirmButtonText: "OK"
                            },
                            function () {
                                recargarPreguntas();
                            });
                }
            });
        });
    });
</script>