{% extends 'general/master_page.html' %}

{% block title %} Preguntas {% endblock %}

{% block header %}Lista de preguntas{% endblock %}

{% block content %}
    <div class="row well widget">

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-2 control-label">Materia:</label>
                <div class="col-sm-10">
                    {% if materias %}
                        <select id="listaMaterias" class="form-control">
                            {% for materia in materias %}
                                <option value="{{ materia.id }}" {% if materia_seleccionar == materia.id %}
                                        selected="" {% endif %}>{{ materia.nombre }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <div class="alert alert-warning" role="alert">No hay materias disponibles.
                            <b><a href="/materias/">Ir a la p&aacute;gina de Materias.</a></b></div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-2 control-label">Tema:</label>
                <div class="col-sm-10" id="listaTemas">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="agregarPreguntaBtn"><i class="fa fa-plus-circle"></i> Agregar Pregunta
        </button>
        <hr/>
        <div id="preguntas">

        </div>
    </div>

    {% if materias %}
        <script>
            $(document).ready(function () {

                $('#agregarPreguntaBtn').fadeOut();
                var $selectMaterias = $('#listaMaterias');
                listarTemas($selectMaterias.val());

                $selectMaterias.on('change', function () {
                    listarTemas($(this).val());
                    $('#agregarPreguntaBtn').fadeOut();
                });

                $(document).delegate('#listaTemas select', 'change', function () {
                    if ($(this).val() == '0') {
                        $('#agregarPreguntaBtn').fadeOut();
                        listarPreguntasTodas();
                    } else {
                        $('#agregarPreguntaBtn').fadeIn();
                        listarPreguntasDelTema($(this).val());
                    }
                })
            });

            function listarPreguntasTodas() {
                $('.pregunta').fadeIn();
            }
            function listarPreguntasDelTema(tema_id) {
                $('.pregunta:not([data-tema_id="' + tema_id + '"])').hide();
                $('.pregunta[data-tema_id="' + tema_id + '"]').fadeIn();
            }

            function listarTemas(materia_id) {
                $('#listaTemas').html(loader);
                $('#preguntas').html(loader);
                $.getJSON('/temas/', {materia_id: materia_id}).done(function (response) {
                    if (response.temas.length) {
                        var $select = $('<select>').addClass('form-control');
                        $select.append($('<option>').val('0').html('Ver Todos').attr('selected', 'selected'));
                        $.each(response.temas, function (index, tema) {
                            $select.append($('<option>').val(tema.id).html(tema.nombre));
                        });
                        $('#listaTemas').html($select);
                        listarPreguntas(response.preguntas);
                    } else {
                        $('#listaTemas').html(
                                '<div class="alert alert-warning" role="alert">' +
                                'No hay temas en esta materia. <b><a href="/materia/' + response['materia_codigo'] + '">Ver Materia.</a></b>' +
                                '</div>'
                        );
                    }
                });
            }

            function listarPreguntas(preguntas) {
                if (preguntas.length) {
                    $('#preguntas').html(render('preguntas_lista', {preguntas: preguntas}));
                    $('#preguntas_incompatibles_table_hidden').html(render('preguntas_incompatibles', {preguntas: preguntas}));
                } else {
                    $('#preguntas').html('<div class="alert alert-warning" role="alert">' +
                            'Esta materia no tiene preguntas creadas' +
                            '</div>');
                }
            }

            function recargarPreguntas() {
                var materia_id = $('#listaMaterias').val();
                var $selectTemas = $('#listaTemas select');
                $('#preguntas').html(loader);
                $.getJSON('/temas/', {materia_id: materia_id}).done(function (response) {
                    listarPreguntas(response.preguntas);
                    if ($selectTemas.val() == '0') {
                        listarPreguntasTodas();
                    } else {
                        listarPreguntasDelTema($selectTemas.val());
                    }
                });
            }
        </script>
        {% include 'preguntas/lista_pregunta.html' %}
        {% include 'preguntas/crear_pregunta.html' %}
    {% endif %}
{% endblock %}
