<!-- HB Templates -->
<style>
    td.align-center {
        text-align: center;
    }

    tr.lista_pregunta_eliminada {
        color: grey;
        font-style: italic;
    }
</style>
{% verbatim %}

<script id="eliminarPregunta" class="handlebars-template" type="text/x-handlebars-template">
    <div class="modal-body">
        Realmente quiere inhabilitar la pregunta?
        <br/>
        <i>Una vez inhabilitada la pregunta, no podra ser generada en las evaluaciones futuras.<br/>
            <b>Las evaluaciones generadas previamente seguiran mostrando la pregunta.</b></i>
    </div>
</script>
<script id="editarPregunta" class="handlebars-template" type="text/x-handlebars-template">
    <div class="row well" id="editarPregunta" data-pregunta_id="{{ id }}">
        <div class="col-sm-6">Tema: {{ tema }}</div>
        <div class="col-sm-6">Tipo de Pregunta: {{ tipo }}</div>
        <hr/>
        <div class="form-group col-sm-12">
            <label class="control-label">Pregunta</label>
            <textarea class="form-control pregunta_enunciado">{{ enunciado }}</textarea>
            <br/>
            <input class="pregunta_enunciado_grafico form-control" value="{{ imagen }}"
                   placeholder="URL de contenido grafico">
            <br/>
            <div class="pregunta_enunciado_grafico_preview"><img src="{{ imagen }}" class="img-responsive"></div>
        </div>
        {{> (lookup . 'tipo_id') }}
    </div>
</script>
<script id="tipo_1" class="handlebars-template partial" type="text/x-handlebars-template">
    <div class="form-group col-sm-12">
    </div>
</script>
<script id="tipo_2" class="handlebars-template partial" type="text/x-handlebars-template">
    <div class="form-group col-sm-12">
        <table class="table table-condensed">
            <tr>
                <th class="col-sm-2">Correcta?</th>
                <th class="col-sm-10">Respuesta</th>
            </tr>
            {{#each respuestas}}
            <tr class="respuesta" data-respuesta_id="{{ id }}">
                <td class="align-center">
                    <input type="checkbox" class="checkbox respuesta_correcta" value="{{ id }}" {{#if
                           correcta}}checked="" {{/if}}>
                </td>
                <td><input type="text" class="form-control respuesta_enunciado" value="{{ pregunta }}"></td>
            </tr>
            {{/each}}
        </table>
    </div>
</script>
<script id="tipo_3" class="handlebars-template partial" type="text/x-handlebars-template">
    <div class="form-group col-sm-12">
        <table class="table table-condensed">
            <tr>
                <th class="col-sm-12">Concepto relacionado</th>
            </tr>
            {{#each respuestas}}
            <tr class="respuesta" data-respuesta_id="{{ id }}">
                <td>
                    <input type="checkbox" hidden="hidden" class="respuesta_correcta" checked="">
                    <input type="text" class="form-control respuesta_enunciado" value="{{ pregunta }}">
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</script>
<script id="tipo_4" class="handlebars-template partial" type="text/x-handlebars-template">
    <div class="form-group col-sm-12">
        <table class="table table-condensed">
            <tr>
                <th class="col-sm-2">Correcta?</th>
                <th class="col-sm-10">Respuesta</th>
            </tr>
            {{#each respuestas}}
            <tr class="respuesta" data-respuesta_id="{{ id }}">
                <td class="align-center">
                    <input type="radio" class="radio respuesta_correcta" name="pregunta{{ ../id }}" value="{{ id }}"
                           {{#if correcta}}checked="" {{/if}}>
                </td>
                <td><input type="text" class="form-control respuesta_enunciado" value="{{ pregunta }}" readonly></td>
            </tr>
            {{/each}}
        </table>
    </div>
</script>

<script id="preguntas_incompatibles" class="handlebars-template" type="text/x-handlebars-template">
    <table class="table table-hover table-condensed">
        <tr>
            <th class="col-sm-2">Tipo de Pregunta</th>
            <th class="col-sm-3">Tema</th>
            <th class="col-sm-6">Enunciado</th>
            <th class="col-sm-1">&nbsp;</th>
        </tr>
        {{#each preguntas}}
        {{#unless eliminada}}
        <tr data-tema_id="{{ tema_id }}" class="">
            <td>
                {{ tipo }}
            </td>
            <td>
                {{ tema }}
            </td>
            <td>
                {{ enunciado }}
            </td>
            <td nowrap>
                <input type="checkbox" class="preguntas_incompatibles_check" data-pregunta="{{ id }}"/>
            </td>
        </tr>
        {{/unless}}
        {{/each}}
    </table>
</script>
<script id="preguntas_lista" class="handlebars-template" type="text/x-handlebars-template">
    <table class="table table-hover table-condensed">
        <tr>
            <th class="col-sm-2">Tipo de Pregunta</th>
            <th class="col-sm-3">Tema</th>
            <th class="col-sm-6">Enunciado</th>
            <th class="col-sm-1">&nbsp;</th>
        </tr>
        {{#each preguntas}}
        <tr data-tema_id="{{ tema_id }}" class="pregunta {{#if eliminada}}lista_pregunta_eliminada{{/if}}">
            <td>
                {{ tipo }}
            </td>
            <td>
                {{ tema }}
            </td>
            <td>
                {{ enunciado }}
            </td>
            <td nowrap>
                {{#if eliminada}}
                <a href="javascript:;" class="habilitarPregunta" data-pregunta_id="{{ id }}">
                    <i class="fa fa-eye"></i> Habilitar</a>
                {{else}}
                <a href="javascript:;" class="editarPregunta" data-pregunta_id="{{ id }}">
                    <i class="fa fa-edit"></i> Editar</a> &nbsp;
                <a href="javascript:;" class="inhabilitarPregunta" data-pregunta_id="{{ id }}">
                    <i class="fa fa-eye-slash"></i> Inhabilitar</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
</script>

{% endverbatim %}
<!-- end: HB Templates -->

<script>
    $(document).ready(function () {

        $(document).delegate('.editarPregunta', 'click', function () {
            verPregunta($(this).data('pregunta_id'));
        });

        $(document).delegate('.inhabilitarPregunta', 'click', function () {
            var pregunta_id = $(this).data('pregunta_id');
            openModalTemplate(
                    'Inhabilitar Pregunta',
                    'eliminarPregunta',
                    {},
                    {
                        cancelar: {
                            className: 'btn btn-default',
                            callback: function () {
                            }
                        },
                        Inhabilitar: {
                            className: 'btn btn-primary',
                            callback: function () {
                                $.ajax('/inhabilitar_pregunta/', {
                                    method: 'POST',
                                    data: {
                                        id: pregunta_id
                                    },
                                    dataType: 'json',
                                    success: function () {
                                        recargarPreguntas();
                                    }
                                });
                            }
                        }
                    }
            );
        });

        $(document).delegate('.habilitarPregunta', 'click', function () {
            var pregunta_id = $(this).data('pregunta_id');
            $.ajax('/habilitar_pregunta/', {
                method: 'POST',
                data: {
                    id: pregunta_id
                },
                dataType: 'json',
                success: function () {
                    recargarPreguntas();
                }
            });
        });

        $(document).delegate('.pregunta_enunciado_grafico', 'change', function () {
            $('.pregunta_enunciado_grafico_preview').find('img').attr('src', $(this).val());
        });
    });

    function verPregunta(pregunta_id) {
        $.getJSON('/pregunta/ver/' + pregunta_id).done(function (response) {
            openModal('Editar pregunta', render('editarPregunta', response), {
                Cancelar: {
                    className: 'btn btn-default',
                    callback: function () {
                    }
                },
                Guardar: {
                    className: 'btn btn-primary',
                    callback: function () {
                        var $well = $('#editarPregunta.well');
                        var id = $well.data('pregunta_id');
                        var enunciado = $('textarea.pregunta_enunciado', $well).val();
                        var enunciado_grafico = $('.pregunta_enunciado_grafico', $well).val();
                        var respuestas = {};
                        $('.respuesta').each(function () {
                            respuestas[$(this).data('respuesta_id').toString()] = {
                                correcta: $('.respuesta_correcta', $(this)).is(':checked'),
                                respuesta: $('.respuesta_enunciado', $(this)).val()
                            };
                        });
                        guardarPreguntaEditada(id, enunciado, enunciado_grafico, respuestas);
                    }
                }
            });
        });
    }

    function guardarPreguntaEditada(pregunta_id, enunciado, enunciado_grafico, respuestas) {
        $.ajax('/pregunta/editar/', {
            method: 'POST',
            data: {
                respuestas: respuestas,
                enunciado: enunciado,
                enunciado_grafico: enunciado_grafico,
                id: pregunta_id
            },
            dataType: 'json',
            success: function (response) {
                if (response['valid']) {
                    msgSuccess('Cambios guardados', 'La pregunta ha sido actualizada.');
                    recargarPreguntas();
                }
                else {
                    var errors = "<p>" + response['errors'].join("</p><p>") + "</p>";
                    msgError(errors);
                }
            }
        });
    }

</script>