{% if respuestas|length > 0 %}
<hr />
<label class="control-label">Seleccione las respuestas correctas:</label>
{% for respuesta in respuestas %}
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" {% if respuesta.correcta == 1 %} checked="" {% endif %} name="edit_respuesta_value{{ respuesta.id }}" />
      </span>
      <input type="text" class="form-control" name="edit_respuesta{{ respuesta.id }}" value="{{ respuesta.descripcion }}" {% if not editar %} readOnly="readOnly" {% endif %} />
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </div>
{% endfor %}
<hr />
{% else %}
<br />
<br />
<div class="alert alert-warning" role="alert">Esta pregunta no tiene respuestas!</div>
{% endif %}
